@page "{AccountGuid}"
@using CERP;
@model CERP.Web.Areas.FM.Pages.COA.EditModel
@{
    ViewData["Title"] = "Edit Account";
    ViewData["HeaderTitle"] = "Chart of Accounts";
    ViewData["SubTitle"] = "Edit Account";

    var headAccounts = Model.HeadAccounts.OrderBy(x => x.HeadCode).ToList();
    var subCategories = Model.SubCategories.OrderBy(x => x.SubCategoryId).ToList();
    var companies = Model.Companies.OrderBy(x => x.CreationTime).ToList();
    var branches = Model.Branches.OrderBy(x => x.CreationTime).ToList();
    var subledgerAccounts = Model.SubLedgerAccounts.OrderBy(x => x.CreationTime).ToList();

    var subLedgerRequirements = Model.SubLedgerRequirements;

    var accountStatementTypes = Model._accStatementTypeRepo.Where(x => x.ParentId == null).ToList();
    var accountStatementDetails = Model._accStatementTypeRepo.Where(x => x.ParentId != null).ToList();
    var cashflowStatementTypes = Model._dictionaryValuesRepo.Where(x => x.Key == AppSettings.CashflowStatementTypesKey).ToList();

    var accountNameAR = "";

    var coaInput = Model.COAInput;
}

@section styles {
    <style>
    </style>
}
@section scripts {
    <!-- Syncfusion Essential JS 2 Scripts -->
    <!-- Include SmartWizard JavaScript source -->
    @*<ejs-scripts></ejs-scripts>*@

    <script type="text/javascript">
        $(document).ready(function () {

            function GetFormValidated() {
                for (var i = 0; i < 4; i++) {

                    var elmForm = $("#form-step-" + i);
                    // stepDirection === 'forward' :- this condition allows to do the form validation
                    // only on forward navigation, that makes easy navigation on backwards still do the validation when going next
                    var valid = true;
                    elmForm.validator('validate');
                    var elmErr = elmForm.find('.has-error');
                    if (elmErr) {
                        if (elmErr.length > 0) {
                            // Form validation failed
                            valid = false;
                        }
                        else {
                            valid = true;
                        }
                    }
                }
                return valid;
            }

            $('#coaForm').on('submit', function (e) {

                e.preventDefault();

                var params = $('#coaForm').serialize();

                var companyCode = $('option:selected', $('#company')).attr('data-companyCode');
                console.log(companyCode);
                params += "&companyCode=" + companyCode;

                var headAccCode = $('option:selected', $('#headAccount')).attr('data-headAccCode');
                console.log(headAccCode);
                params += "&headAccCode=" + headAccCode;

                var subCat1Code = $('option:selected', $('#subCat1')).attr('data-categoryCode');
                console.log(subCat1Code);
                params += "&subCat1Code=" + subCat1Code;

                if (GetFormValidated() === true) {

                    console.log(params);
                    $.ajax({
                        url: "@Url.Content("~")/COA/Create",
                        async: false,
                        type: "POST",
                        data: params,
                        success: function (data) {
                            console.log(data);
                        },
                        error: function (err) {
                            console.log(err);
                        }
                    })
                }
                else {
                    console.log("Invalid Form");
                }
            });

            $("#headAccount").on("change", function () {
                var headAccount = $('option:selected', this).val();
                $("#subCat1").empty();
                $("#subCat1").append("<option value=''>Select Primary Sub Account</option>");
                $.getJSON(`?handler=SubCategories&headAccount=${headAccount}&parentId=@Guid.Empty&CLR=2`, (data) => {
                    $.each(data, function (i, item) {
                        $("#subCat1").append(`<option value="${item.id}" data-categoryCode="${item.subCategoryId}">${item.subCategoryId} - ${item.title}</option>`);
                    });
                });
            });

            $("#subCat1").on("change", function () {
                var subCat1 = $('option:selected', this).val();
                $("#subCat2").empty();
                $("#subCat2").append("<option value=''>Select Secondary Sub Account</option>");
                $.getJSON(`?handler=SubCategories&headAccount=${headAccount}&parentID=${subCat1}&CLR=3`, (data) => {
                    $.each(data, function (i, item) {
                        $("#subCat2").append(`<option value="${item.id}" data-categoryCode="${item.subCategoryId}">${item.subCategoryId} - ${item.title}</option>`);
                    });
                });
            });

            $("#subCat2").on("change", function () {
                var subCat2 = $('option:selected', this).val();
                $("#subCat3").empty();
                $("#subCat3").append("<option value=''>Select Tertiary Sub Account</option>");
                $.getJSON(`?handler=SubCategories&headAccount=${headAccount}&parentID=${subCat2}&CLR=4`, (data) => {
                    $.each(data, function (i, item) {
                        $("#subCat3").append(`<option value="${item.id}" data-categoryCode="${item.subCategoryId}">${item.subCategoryId} - ${item.title}</option>`);
                    });
                });
            });

            $("#subCat3").on("change", function () {
                var subCat3 = $('option:selected', this).val();
                $("#subCat4").empty();
                $("#subCat4").append("<option value=''>Select Quaternary Sub Account</option>");
                $.getJSON(`?handler=SubCategories&headAccount=${headAccount}&parentID=${subCat3}&CLR=5`, (data) => {
                    $.each(data, function (i, item) {
                        $("#subCat4").append(`<option value="${item.id}" data-categoryCode="${item.subCategoryId}">${item.subCategoryId} - ${item.title}</option>`);
                    });
                });
            });

            $("#statementType").on("change", function () {
                var statementType = $(this).val();
                $("#statementDetails").empty();
                $("#statementDetails").append("<option value=''>Select Statement Details</option>");
                $.getJSON(`?handler=StatementDetails&statementType=${statementType}`, (data) => {
                    $.each(data, function (i, item) {
                        $("#statementDetails").append(`<option value="${item.id}">${item.title}</option>`);
                    });
                });
            });
        });
    </script>
}

<div class="site-content" style="padding:0; background-color: rgb(253,253,253);">
    <partial name="_DefaultPageHeader" />
</div>

<div class="site-content" style="background-color: rgb(253,253,253);">
    <form id="coaForm" role="form" method="post" accept-charset="utf-8">
        <div>
            <div class="m-l-20">
                <h2>Account Details</h2>
                <p>
                    Provide generic details regarding your account
                </p>
            </div>
            <div class="panel-body" style="padding-bottom:0">
                <div class="row" style="margin-bottom:0">
                            <div class="col-sm-12">

                                <div class="row m-b-15">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label for="accountCode" class="control-label">Account Code</label>
                                            <input type="text" pattern="^[_A-z0-9]{1,}$" class="form-control" id="accountCode" placeholder="Auto Generated" readonly="readonly" data-error="Please provide the code for this account" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row m-b-15">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="accountName" class="control-label">Account Name in English</label>
                                            <input name="accountName" type="text" maxlength="15" class="form-control" id="accountName" placeholder="Your Account Name" value="@(Model.COAInput != null? @Model.COAInput.AccountName : "")" data-error="Please provide the name for this account" required>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-12" style="text-align:right; padding:0;">Account Name in Arabic</label>
                                            <input name="accountNameLocalizationKey" type="text" class="form-control arabicFont" dir="rtl" id="accountNameAR" value="@(Model.COAInput != null? @Model.COAInput.AccountName : "")" placeholder="Your Account Name in Arabic">
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row m-b-15">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="company" class="control-label">Choose Company</label>
                                            <select name="companyId" id="company" class="custom-select" data-error="Please select a company to associate with this account" required>
                                                <option value="" selected="selected">Choose Company</option>
                                                @for (int i = 0; i < companies.Count; i++)
                                                {
                                                    <option value="@companies[i].Id" data-companyCode="@companies[i].CompanyCode" selected="@(Model.COAInput != null && Model.COAInput.CompanyId == companies[i].Id? "true" : "false")">@companies[i].CompanyCode - @companies[i].Name</option>
                                                }
                                            </select>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="branch" class="control-label">Choose Branch</label>
                                            <select name="branchId" id="branch" class="custom-select" data-error="Please select a company branch to associate with this account">
                                                <option value="" selected="selected">Choose Branch</option>
                                                @for (int i = 0; i < branches.Count; i++)
                                                {
                                                    <option value="@branches[i].Id" data-branchCode="@branches[i].BranchCode" selected="@(Model.COAInput != null && Model.COAInput.BranchId == branches[i].Id? "true" : "false")">@branches[i].BranchCode - @branches[i].Name</option>
                                                }
                                            </select>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="headAccount" class="control-label">Choose Head Account</label>
                                            <select name="headAccountId" id="headAccount" class="custom-select" data-error="Please select a head account for this account" required>
                                                <option value="" selected="selected">Choose Head Account</option>
                                                @for (int i = 0; i < headAccounts.Count; i++)
                                                {
                                                    <option value="@headAccounts[i].Id" data-headAccCode="@((int)headAccounts[i].HeadCode)" selected="@(Model.COAInput != null && Model.COAInput.HeadAccountId == headAccounts[i].Id? "true" : "false")">@($"{(int)headAccounts[i].HeadCode} - {headAccounts[i].AccountName}")</option>

                                                }
                                            </select>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="subLedgerAccount" class="control-label">Choose Sub Ledger Account</label>
                                            <select name="subLedgerAccountId" id="subLedgerAccount" class="custom-select" data-error="Please select a sub ledger account to associate this account with">
                                                <option value="" selected="selected">Choose Sub Ledger Account</option>
                                                @if (Model.SubLedgerAccounts != null)
                                                {
                                                    for (int i = 0; i < subledgerAccounts.Count; i++)
                                                    {
                                                        <option value="@subledgerAccounts[i].Id">@subledgerAccounts[i].AccountCode - @subledgerAccounts[i].AccountName</option>
                                                    }
                                                }
                                            </select>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label for="subCat1" class="control-label">Choose Primary Sub Account</label>
                                            <select name="accountSubCat1Id" id="subCat1" class="custom-select" data-error="Please select a Primary Sub Account for this account" required>
                                            </select>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label for="subCat2" class="control-label">Choose Secondary Sub Account</label>
                                            <select name="accountSubCat2Id" id="subCat2" class="custom-select" data-error="Please select a Secondary Sub Account for this account">
                                            </select>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label for="subCat1" class="control-label">Choose Tertiary Sub Account</label>
                                            <select name="accountSubCat1Id" id="subCat1" class="custom-select" data-error="Please select a Tertiary Sub Account for this account">
                                            </select>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label for="subCat2" class="control-label">Choose Quaternary Sub Account</label>
                                            <select name="accountSubCat2Id" id="subCat2" class="custom-select" data-error="Please select a Quaternary Sub Account for this account">
                                            </select>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>

            <hr />

            <div class="m-l-20">
                <h2>Required Information</h2>
                <p>
                    Provide specific details regarding your account
                </p>
            </div>
            <div class="panel-body" style="padding-bottom:0">
                <div class="row" style="margin-bottom:0">
                    <div class="col-sm-12">
                        <div class="smart-form">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th style="width: 32px"></th>
                                        <th style="width: 100%; text-align:center">Sub Ledger Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < subLedgerRequirements.Count; i++)
                                    {
                                        <tr>
                                            <td style="background-color: whitesmoke;">
                                                <label class="custom-control custom-control-primary custom-checkbox active m-l-5">
                                                    <input name="requirement:@i" class="custom-control-input" type="checkbox" data-requirementId="@subLedgerRequirements[i].Id">
                                                    <span class="custom-control-indicator"></span>
                                                </label>
                                            </td>
                                            <td>@subLedgerRequirements[i].Title</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <hr />

            <div class="m-l-20">
                <h2>Account Nature</h2>
                <p>
                    Specify the nature of your account
                </p>
            </div>
            <div class="panel-body" style="padding-bottom:0">
                <div class="row" style="margin-bottom:0">
                    <div class="col-sm-12">
                        <div class="smart-form">
                            <table class="table table-hover">
                                <tbody>
                                    <tr>
                                        <td style="background-color: whitesmoke; width:10px;">
                                            <label class="custom-control custom-control-primary custom-checkbox active m-l-5">
                                                <input name="allowPosting" class="custom-control-input" type="checkbox">
                                                <span class="custom-control-indicator"></span>
                                            </label>
                                        </td>
                                        <td>Allow GL Posting</td>
                                    </tr>
                                    @*<tr>
                                            <td style="background-color: whitesmoke">
                                                <label class="custom-control custom-control-primary custom-checkbox active m-l-5">
                                                    <input name="allowAutomatedPosting" class="custom-control-input" type="checkbox">
                                                    <span class="custom-control-indicator"></span>
                                                </label>
                                            </td>
                                            <td>Allow Automated Posting</td>
                                        </tr>*@
                                    <tr>
                                        <td style="background-color: whitesmoke">
                                            <label class="custom-control custom-control-primary custom-checkbox active m-l-5">
                                                <input name="allowPayment" class="custom-control-input" type="checkbox">
                                                <span class="custom-control-indicator"></span>
                                            </label>
                                        </td>
                                        <td>Allow Payment</td>
                                    </tr>
                                    <tr>
                                        <td style="background-color: whitesmoke">
                                            <label class="custom-control custom-control-primary custom-checkbox active m-l-5">
                                                <input name="allowReceipt" class="custom-control-input" type="checkbox">
                                                <span class="custom-control-indicator"></span>
                                            </label>
                                        </td>
                                        <td>Allow Receipt</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <hr />

            <div class="m-l-20">
                    <h2>Reporting Details</h2>
                    <p>
                        Provide the types of reports you want from this account
                    </p>
                </div>
            <div class="panel-body" style="padding-bottom:0">
                <div class="row" style="margin-bottom:0">
                    <div class="col-sm-12">
                        <div class="row m-b-15">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="statementType" class="control-label">Choose Statement Type</label>
                                    <select name="accountStatementTypeId" id="statementType" class="custom-select" data-error="Please select the type of statement from this account" required>
                                        <option value="" selected="selected">Choose Statement Type</option>
                                        @for (int i = 0; i < accountStatementTypes.Count; i++)
                                        {
                                            <option value="@accountStatementTypes[i].Id">@accountStatementTypes[i].Title</option>
                                        }
                                    </select>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="statementDetails" class="control-label">Choose Statement Detail</label>
                                    <select name="accountStatementDetailTypeId" id="statementDetails" class="custom-select" data-error="Please select statement detail for this account" required>
                                    </select>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="cashflowStatementType" class="control-label">Choose Cashflow Statement Type</label>
                                    <select name="cashFlowStatementTypeId" id="cashflowStatementType" class="custom-select" data-error="Please select cashflow statement type for this account" required>
                                        <option value="" selected="selected">Choose Cashflow Statement Type</option>
                                        @for (int i = 0; i < cashflowStatementTypes.Count; i++)
                                        {
                                            <option value="@cashflowStatementTypes[i].Id">@cashflowStatementTypes[i].Value</option>
                                        }
                                    </select>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <button id="submitCOA" type="submit" class="btn btn-outline-success btn-block">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>