<div class="panel panel-primary">
    @*<div class="panel-body">
        <div class="row">
            <breadcrumb></breadcrumb>
        </div>
    </div>*@
    <div class="panel-heading">
        <div>
            <div class="col-sm-8 col-xs-12 padding-left-0">
                <h1 class="">
                    <span class="menu-icon m-r-10"><i class="@ViewData["IconClass"]"></i></span>
                    <span class="menu-text" style="font-size: 30px">@ViewData["HeaderTitle"]</span>
                    <span class="menu-text clearfix" style="font-size: 15px">@ViewData["SubTitle"]</span>
                </h1>
            </div>
            <div class="col-sm-4  col-xs-12 text-right padding-right-0">
                <div class="clearfix margin-15"></div>
                @if ((bool)ViewData["IsList"] == true)
                {

                }
                else if ((bool)ViewData["IsCreate"] == true)
                {
                    <a asp-area="@ViewData["Area"]" asp-page="@ViewData["CreateNewLink"]" class="btn btn-outline-dark" style="color: white; font-size: 15px"><i class="fa fa-plus fa-fw"></i> @ViewData["CreateNewText"]</a>
                }
            </div>
        </div>
        <div class="clearfix " style=""></div>
    </div>
</div>