@using Microsoft.AspNetCore.Mvc.Localization;
@using Volo.Abp.Users;
@using CERP.Localization;
@inject IHtmlLocalizer<CERPResource> L
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="">
    <title>@ViewData["Title"] - Oxygen ERP</title>
    <link rel="icon" type="image/png" href="/img/logos/OxygenERPLogo.png" sizes="16x16">


    <link href="~/libs/smartwizard/dist/css/smart_wizard.min.css" rel="stylesheet" />
    <link href="~/libs/smartwizard/dist/css/smart_wizard_theme_arrows.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700" rel="stylesheet">

    <link href="~/styles/cerp/cosmos.min.css" rel="stylesheet" />
    <link href="~/styles/cerp/application.min.css" rel="stylesheet" />

    <link href="~/libs/@@fortawesome/fontawesome-free/css/all.css" rel="stylesheet" />

    <link href="~/libs/fabricUI/fabric.min.css" rel="stylesheet" />
        <link href="~/libs/fabricUI/fabric-11.0.0.scoped.min.css" rel="stylesheet" />
        <link href="~/libs/fabricUI/fabric-11.0.0.scoped.min.css" rel="stylesheet" />

    @*<link href="~/libs/JqueryDatepicker/css/jquery.calendars.picker.css" />*@
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="~/libs/sweetalert2/dist/sweetalert2.css" rel="stylesheet" />
    <link href="~/libs/toastr/toastr.min.css" rel="stylesheet" />


    <script src="~/scripts/cerp/vendor.min.js"></script>
    <link href="~/libs/bootstrap-multiselect-0.9.15/css/bootstrap-multiselect.css" rel="stylesheet" />

    @*<link href="~/libs/syncfusion/ej2-bundle/styles/fabric.css" rel="stylesheet" />*@
    <link href="~/libs/syncfusion/ej2/styles/fabric.css" rel="stylesheet" />

    <link href="~/styles/cerp/site.css" rel="stylesheet" asp-append-version="true" />
    

    <style>
        .calendars-popup {
            z-index: 10000 !important;
        }
    </style>

    @RenderSection("Styles", required: false)
</head>
<body class="layout layout-header-fixed layout-left-sidebar-fixed" style="margin:0">
    <div class="site-overlay"></div>
    <div class="site-header">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <a class="navbar-brand" asp-page="/">
                    <img id="header-brand" src="/img/logos/OxygenERP 2.3.png" alt="" height="25">
                    @*<span> &nbsp; Oxygen ERP</span>*@
                </a>
                @*<button class="navbar-toggler left-sidebar-toggle pull-left visible-xs" type="button">
                        <span class="hamburger"></span>
                    </button>
                    <button class="navbar-toggler right-sidebar-toggle pull-right visible-xs-block" type="button">
                        <i class="zmdi zmdi-long-arrow-left"></i>
                        <div class="dot bg-danger"></div>
                    </button>
                    <button class="navbar-toggler pull-right visible-xs-block" type="button" data-toggle="collapse" data-target="#navbar">
                        <span class="more"></span>
                    </button>*@
            </div>
            <div class="navbar-collapsible">
                <div id="navbar" class="navbar-collapse collapse">
                    <button class="navbar-toggler left-sidebar-collapse pull-left hidden-xs" type="button">
                        <span class="hamburger"></span>
                    </button>
                    @*<button class="navbar-toggler right-sidebar-toggle pull-right hidden-xs" type="button">
                            <i class="zmdi zmdi-long-arrow-left"></i>
                            <div class="dot bg-danger"></div>
                        </button>*@
                    <form class="navbar-form navbar-left">
                        <div class="navbar-search-group">
                            <input type="text" class="form-control" placeholder="Search">
                            <button type="submit" class="btn btn-default">
                                <i class="zmdi zmdi-search"></i>
                            </button>
                        </div>
                    </form>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </div>
    <div class="site-main">
        <div class="site-left-sidebar">
            <div class="sidebar-backdrop"></div>
            <div class="custom-scrollbar">
                <ul class="sidebar-menu">
                    <li class="menu-title">@L["ps:main"]</li>
                    <li>
                        <a asp-area="Main" asp-page="/Dashboard">
                            <span class="menu-icon">
                                <i class="ms-Icon ms-Icon--BIDashboard"></i>
                            </span>
                            <span class="menu-text active"> @L["ps:dashboard"]</span>
                        </a>
                    </li>


                    <li class="menu-title">Financial Management</li>
                    <li class="with-sub">
                        <a href="#" aria-haspopup="true">
                            <span class="menu-icon">
                                <i class="fas fa-money-bill-wave"></i>
                            </span>
                            <span class="menu-text">General Ledger</span>
                        </a>
                        <ul class="sidebar-submenu collapse">
                            <li class="menu-subtitle">General Ledgers</li>
                            @*          NEXT            *@
                            <li class="with-sub">
                                <a href="#" aria-haspopup="true">
                                    <span class="menu-icon">
                                        <i class="fas fa-sitemap"></i>
                                    </span>
                                    <span class="menu-text">Chart of Accounts</span>
                                </a>
                                <ul class="sidebar-submenu collapse" style="padding-left: 31px">
                                    <li class="menu-subtitle">Chart of Accounts</li>
                                    <li class=""><a asp-area="FM" asp-page="/COA/List">Accounts List</a></li>
                                    <li class=""><a asp-area="FM" asp-page="/COA/AccountCategories">Account Categories</a></li>
                                    <li class=""><a asp-area="" asp-page="">Mapping Accounts</a></li>
                                    @*<li><a href="dashboard-2.html">Reports</a></li>*@
                                </ul>
                            </li>
                            @*          NEXT            *@
                            <li class="with-sub">
                                <a href="#" aria-haspopup="true">
                                    <span class="menu-icon">
                                        <i class="fas fa-file-invoice"></i>
                                    </span>
                                    <span class="menu-text">GL Transactions</span>
                                </a>
                                <ul class="sidebar-submenu collapse" style="padding-left: 31px">
                                    <li class="menu-subtitle">GL Transactions</li>
                                    <li class=""><a asp-area="" asp-page="">Journal Transactions</a></li>
                                    <li class=""><a asp-area="" asp-page="">Applications Vouchers</a></li>
                                    <li class=""><a asp-area="" asp-page="">Recurring Vouchers</a></li>
                                    <li class=""><a asp-area="" asp-page="">Prepaid Vouchers</a></li>
                                    <li class=""><a asp-area="" asp-page="">Batch Status</a></li>
                                    <li class=""><a asp-area="" asp-page="">Batch List</a></li>
                                    <li class=""><a asp-area="" asp-page="">Transaction Details Optional Fields</a></li>
                                </ul>
                            </li>
                            @*          NEXT            *@
                            <li class="with-sub">
                                <a href="#" aria-haspopup="true">
                                    <span class="menu-icon">
                                        <i class="fas fa-chart-bar"></i>
                                    </span>
                                    <span class="menu-text">Transaction Reports</span>
                                </a>
                                <ul class="sidebar-submenu collapse" style="padding-left: 31px; height:auto">
                                    <li class="menu-subtitle">Transaction Reports</li>
                                    <li class=""><a asp-area="" asp-page="">Transactions History</a></li>
                                    <li class=""><a asp-area="" asp-page="">Account History</a></li>
                                    <li class=""><a asp-area="" asp-page="">Account Categories</a></li>
                                    <li class="with-sub">
                                        <a href="#" aria-haspopup="true">
                                            <span class="menu-icon">
                                                <i class="zmdi zmdi-chart-donut"></i>
                                            </span>
                                            <span class="menu-text">Trial Balance</span>
                                        </a>
                                        <ul class="sidebar-submenu collapse" style="padding-left: 31px; background-color:white;height:100%">
                                            <li class="menu-subtitle">Trial Balanace</li>
                                            <li class=""><a asp-area="" asp-page="">List</a></li>
                                            <li class=""><a asp-area="" asp-page="">With Movements</a></li>
                                        </ul>
                                    </li>
                                    <li class="with-sub">
                                        <a href="#" aria-haspopup="true">
                                            <span class="menu-icon">
                                                <i class="zmdi zmdi-chart-donut"></i>
                                            </span>
                                            <span class="menu-text">Profit & Loss</span>
                                        </a>
                                        <ul class="sidebar-submenu collapse" style="padding-left: 31px;background-color:white;height:100%">
                                            <li class="menu-subtitle">Profit & Loss</li>
                                            <li class=""><a asp-area="" asp-page="">Account Full</a></li>
                                            <li class=""><a asp-area="" asp-page="">By Departments</a></li>
                                            <li class=""><a asp-area="" asp-page="">By Location/Branches</a></li>
                                        </ul>
                                    </li>
                                    <li class=""><a asp-area="" asp-page="">Balance Sheet</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="with-sub">
                        <a href="#" aria-haspopup="true">
                            <span class="menu-icon">
                                <i class="zmdi zmdi-long-arrow-left"></i>
                            </span>
                            <span class="menu-text">Accounts Receivable</span>
                        </a>
                        <ul class="sidebar-submenu collapse">
                            <li class="menu-subtitle">Accounts Receivable</li>
                            @*          NEXT            *@
                            <li class="with-sub">
                                <a href="#" aria-haspopup="true">
                                    <span class="menu-icon">
                                        <i class="fas fa-file-invoice"></i>
                                    </span>
                                    <span class="menu-text">Transactions</span>
                                </a>
                                <ul class="sidebar-submenu collapse" style="padding-left: 31px">
                                    <li class="menu-subtitle">Transactions</li>
                                    <li class="with-sub">
                                        <a href="#" aria-haspopup="true">
                                            <span class="menu-icon">
                                                <i class="ms-Icon ms-Icon--M365InvoicingLogo"></i>
                                            </span>
                                            <span class="menu-text">Customer Transaction</span>
                                        </a>
                                        <ul class="sidebar-submenu collapse" style="padding-left: 31px">
                                            <li class="menu-subtitle">Customer Transaction</li>
                                            <li class=""><a asp-area="" asp-page="">Customer Invoice</a></li>
                                            <li class=""><a asp-area="" asp-page="">Customer Returns / Credit Notes</a></li>
                                            <li class=""><a asp-area="" asp-page="">Customer Collection</a></li>
                                            <li class=""><a asp-area="" asp-page="">Close Advances</a></li>
                                        </ul>
                                    </li>
                                    <li class="with-sub">
                                        <a href="#" aria-haspopup="true">
                                            <span class="menu-icon">
                                                <i class="ms-Icon ms-Icon--M365InvoicingLogo"></i>
                                            </span>
                                            <span class="menu-text">Recurring Entries</span>
                                        </a>
                                        <ul class="sidebar-submenu collapse" style="padding-left: 31px">
                                            <li class="menu-subtitle">Recurring Entries</li>
                                            <li class=""><a asp-area="" asp-page="">Rental & O&M Contracts</a></li>
                                            <li class=""><a asp-area="" asp-page="">Favourites</a></li>
                                        </ul>
                                    </li>
                                    <li class="with-sub">
                                        <a href="#" aria-haspopup="true">
                                            <span class="menu-icon">
                                                <i class="ms-Icon ms-Icon--M365InvoicingLogo"></i>
                                            </span>
                                            <span class="menu-text">Transaction By Batch</span>
                                        </a>
                                        <ul class="sidebar-submenu collapse" style="padding-left: 31px">
                                            <li class="menu-subtitle">Transaction By Batch</li>
                                            <li class=""><a asp-area="" asp-page="">All Transactions</a></li>
                                            <li class=""><a asp-area="" asp-page="">Bulk Transactions</a></li>
                                            <li class=""><a asp-area="" asp-page="">Import Bulk entries</a></li>
                                        </ul>
                                    </li>
                                    <li class=""><a asp-area="" asp-page="">Mapping Accounts</a></li>
                                </ul>
                            </li>
                            @*          NEXT            *@
                            <li class="with-sub">
                                <a href="#" aria-haspopup="true">
                                    <span class="menu-icon">
                                        <i class="fas fa-chart-bar"></i>
                                    </span>
                                    <span class="menu-text">Reports</span>
                                </a>
                                <ul class="sidebar-submenu collapse" style="padding-left: 31px">
                                    <li class="menu-subtitle">Reports</li>
                                    <li class="with-sub">
                                        <a href="#" aria-haspopup="true">
                                            Customers Report
                                        </a>
                                        <ul class="sidebar-submenu collapse" style="padding-left: 31px">
                                            <li class="menu-subtitle">Customers Report</li>
                                            <li class=""><a asp-area="" asp-page="">Customers List</a></li>
                                            <li class=""><a asp-area="" asp-page="">Customers Ledger Balance</a></li>
                                            <li class=""><a asp-area="" asp-page="">Detailed Customer Ledger With Balance</a></li>
                                            <li class=""><a asp-area="" asp-page="">Customer Aging Report</a></li>
                                            <li class=""><a asp-area="" asp-page="">Customer Net Balance List</a></li>
                                            <li class=""><a asp-area="" asp-page="">Customer Advance Balance List</a></li>
                                            <li class=""><a asp-area="" asp-page="">Customer Due Balance List</a></li>
                                        </ul>
                                    </li>
                                    <li class="with-sub">
                                        <a href="#" aria-haspopup="true">
                                            Periodic Reports
                                        </a>
                                        <ul class="sidebar-submenu collapse" style="padding-left: 31px">
                                            <li class="menu-subtitle">Periodic Reports</li>
                                            <li class=""><a asp-area="" asp-page="">Approval Status</a></li>
                                            <li class=""><a asp-area="" asp-page="">Approval by User Report</a></li>
                                            <li class=""><a asp-area="" asp-page="">All Unposted Batches</a></li>
                                        </ul>
                                    </li>
                                    <li class="with-sub">
                                        <a href="#" aria-haspopup="true">
                                            Sales Reports
                                        </a>
                                        <ul class="sidebar-submenu collapse" style="padding-left: 31px">
                                            <li class="menu-subtitle">Sales Reports</li>
                                            <li class=""><a asp-area="" asp-page="">Sales by Category Report</a></li>
                                            <li class=""><a asp-area="" asp-page="">Sales by Period Report</a></li>
                                            <li class=""><a asp-area="" asp-page="">Sales by Location Report</a></li>
                                            <li class=""><a asp-area="" asp-page="">Sales by User Report</a></li>
                                        </ul>
                                    </li>
                                    <li class="with-sub">
                                        <a href="#" aria-haspopup="true">
                                            GL Reports
                                        </a>
                                        <ul class="sidebar-submenu collapse" style="padding-left: 31px">
                                            <li class="menu-subtitle">GL</li>
                                            <li class=""><a asp-area="" asp-page="">Sales Account Breakdown</a></li>
                                            <li class=""><a asp-area="" asp-page="">Sales VAT Account Breakdown</a></li>
                                            <li class=""><a asp-area="" asp-page="">Account Receivables Breakdown</a></li>
                                            <li class=""><a asp-area="" asp-page="">Advance from Customers Breakdown</a></li>
                                            <li class=""><a asp-area="" asp-page="">Advance VAT Breakdown</a></li>
                                            <li class=""><a asp-area="" asp-page="">Related Party Breakdown</a></li>
                                            <li class=""><a asp-area="" asp-page="">Accrued Revenue Breakdown</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="with-sub">
                        <a href="#" aria-haspopup="true">
                            <span class="menu-icon">
                                <i class="zmdi zmdi-long-arrow-right"></i>
                            </span>
                            <span class="menu-text">Accounts Payables</span>
                        </a>
                        <ul class="sidebar-submenu collapse">
                            <li class="menu-subtitle">Accounts Payables</li>
                            @*          NEXT            *@
                            <li class="with-sub">
                                <a href="#" aria-haspopup="true">
                                    <span class="menu-icon">
                                        <i class="fas fa-file-invoice"></i>
                                    </span>
                                    <span class="menu-text">Transactions</span>
                                </a>
                                <ul class="sidebar-submenu collapse" style="padding-left: 31px">
                                    <li class="menu-subtitle">Transactions</li>
                                    <li class="with-sub">
                                        <a href="#" aria-haspopup="true">
                                            <span class="menu-icon">
                                                <i class="ms-Icon ms-Icon--M365InvoicingLogo"></i>
                                            </span>
                                            <span class="menu-text">Vendor Transaction</span>
                                        </a>
                                        <ul class="sidebar-submenu collapse" style="padding-left: 31px">
                                            <li class="menu-subtitle">Vendor Transaction</li>
                                            <li class=""><a asp-area="" asp-page="">Vendor Invoice</a></li>
                                            <li class=""><a asp-area="" asp-page="">Vendor Returns / Credit Notes</a></li>
                                            <li class=""><a asp-area="" asp-page="">Payments</a></li>
                                            <li class=""><a asp-area="" asp-page="">Close Advances</a></li>
                                        </ul>
                                    </li>
                                    <li class="with-sub">
                                        <a href="#" aria-haspopup="true">
                                            <span class="menu-icon">
                                                <i class="ms-Icon ms-Icon--M365InvoicingLogo"></i>
                                            </span>
                                            <span class="menu-text">Recurring Entries</span>
                                        </a>
                                        <ul class="sidebar-submenu collapse" style="padding-left: 31px">
                                            <li class="menu-subtitle">Recurring Entries</li>
                                            <li class=""><a asp-area="" asp-page="">Rental & O&M Contracts</a></li>
                                            <li class=""><a asp-area="" asp-page="">Favourites</a></li>
                                        </ul>
                                    </li>
                                    <li class="with-sub">
                                        <a href="#" aria-haspopup="true">
                                            <span class="menu-icon">
                                                <i class="ms-Icon ms-Icon--M365InvoicingLogo"></i>
                                            </span>
                                            <span class="menu-text">Transaction By Batch</span>
                                        </a>
                                        <ul class="sidebar-submenu collapse" style="padding-left: 31px">
                                            <li class="menu-subtitle">Transaction By Batch</li>
                                            <li class=""><a asp-area="" asp-page="">All Transactions</a></li>
                                            <li class=""><a asp-area="" asp-page="">Bulk Transactions</a></li>
                                            <li class=""><a asp-area="" asp-page="">Import Bulk entries</a></li>
                                        </ul>
                                    </li>
                                    <li class=""><a asp-area="" asp-page="">Mapping Accounts</a></li>
                                </ul>
                            </li>
                            @*          NEXT            *@
                            <li class="with-sub">
                                <a href="#" aria-haspopup="true">
                                    <span class="menu-icon">
                                        <i class="fas fa-chart-bar"></i>
                                    </span>
                                    <span class="menu-text">Reports</span>
                                </a>
                                <ul class="sidebar-submenu collapse" style="padding-left: 31px">
                                    <li class="menu-subtitle">Reports</li>
                                    <li class="with-sub">
                                        <a href="#" aria-haspopup="true">
                                            Vendors Report
                                        </a>
                                        <ul class="sidebar-submenu collapse" style="padding-left: 31px">
                                            <li class="menu-subtitle">Vendors Report</li>
                                            <li class=""><a asp-area="" asp-page="">Vendors List</a></li>
                                            <li class=""><a asp-area="" asp-page="">Vendors Ledger Balance</a></li>
                                            <li class=""><a asp-area="" asp-page="">Detailed Vendors Ledger With Balance</a></li>
                                            <li class=""><a asp-area="" asp-page="">Vendors Aging Report</a></li>
                                            <li class=""><a asp-area="" asp-page="">Vendors Net Balance List</a></li>
                                            <li class=""><a asp-area="" asp-page="">Vendors Advance Balance List</a></li>
                                            <li class=""><a asp-area="" asp-page="">Vendors Due Balance List</a></li>
                                        </ul>
                                    </li>
                                    <li class="with-sub">
                                        <a href="#" aria-haspopup="true">
                                            Periodic Reports
                                        </a>
                                        <ul class="sidebar-submenu collapse" style="padding-left: 31px">
                                            <li class="menu-subtitle">Periodic Reports</li>
                                            <li class=""><a asp-area="" asp-page="">Approval Status</a></li>
                                            <li class=""><a asp-area="" asp-page="">Approval by User Report</a></li>
                                            <li class=""><a asp-area="" asp-page="">All Unposted Batches</a></li>
                                        </ul>
                                    </li>
                                    <li class="with-sub">
                                        <a href="#" aria-haspopup="true">
                                            Sales Reports
                                        </a>
                                        <ul class="sidebar-submenu collapse" style="padding-left: 31px">
                                            <li class="menu-subtitle">Purchases Reports</li>
                                            <li class=""><a asp-area="" asp-page="">Purchases by Category Report</a></li>
                                            <li class=""><a asp-area="" asp-page="">Purchases by Period Report</a></li>
                                            <li class=""><a asp-area="" asp-page="">Purchases by Location Report</a></li>
                                            <li class=""><a asp-area="" asp-page="">Purchases by User Report</a></li>
                                        </ul>
                                    </li>
                                    <li class="with-sub">
                                        <a href="#" aria-haspopup="true">
                                            GL Reports
                                        </a>
                                        <ul class="sidebar-submenu collapse" style="padding-left: 31px">
                                            <li class="menu-subtitle">GL</li>
                                            <li class=""><a asp-area="" asp-page="">Purchases Account Breakdown</a></li>
                                            <li class=""><a asp-area="" asp-page="">Purchases VAT Account Breakdown</a></li>
                                            <li class=""><a asp-area="" asp-page="">Account Payable Breakdown</a></li>
                                            <li class=""><a asp-area="" asp-page="">Advance from Vendors Breakdown</a></li>
                                            <li class=""><a asp-area="" asp-page="">Advance VAT Breakdown</a></li>
                                            <li class=""><a asp-area="" asp-page="">Related Party Breakdown</a></li>
                                            <li class=""><a asp-area="" asp-page="">Accrued Expenses Breakdown</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="with-sub">
                        <a href="#" aria-haspopup="true">
                            <span class="menu-icon">
                                <i class="fas fa-building"></i>
                            </span>
                            <span class="menu-text">Fixed Assets</span>
                        </a>
                        <ul class="sidebar-submenu collapse">
                            <li class="menu-subtitle">Fixed Assets</li>
                            <li class="">
                                <a href="">
                                    <span class="menu-icon"><i class="zmdi zmdi-minus"></i></span>
                                    <span class="menu-text">Classification</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="">
                                    <span class="menu-icon"><i class="zmdi zmdi-minus"></i></span>
                                    <span class="menu-text">Fixed Assets</span>
                                </a>
                            </li>
                        </ul>
                    </li>


                    <li class="menu-title">Inventory Management</li>
                    <li class="with-sub">
                        <a href="#" aria-haspopup="true">
                            <span class="menu-icon">
                                <i class="ms-Icon ms-Icon--ProductVariant" "></i>
                            </span>
                            <span class="menu-text">Inventory</span>
                        </a>
                        <ul class="sidebar-submenu collapse">
                            <li class="menu-subtitle">Inventory</li>
                            <li>
                                <a href="widgets.html">
                                    <span class="badge badge-success">27</span>
                                    <span class="menu-icon">
                                        <i class="ms-Icon ms-Icon--ProductList"></i>
                                    </span>
                                    <span class="menu-text">Item Catalog</span>
                                </a>
                            </li>
                            @*          NEXT            *@
                            <li class="with-sub">
                                <a href="#" aria-haspopup="true">
                                    <span class="menu-icon">
                                        <i class="zmdi zmdi-wrench"></i>
                                    </span>
                                    <span class="menu-text">Setup</span>
                                </a>
                                <ul class="sidebar-submenu collapse" style="padding-left: 31px">
                                    <li class="menu-subtitle">Inventory Setup</li>
                                    <li class=""><a asp-area="" asp-page="">Brands</a></li>
                                    <li class=""><a asp-area="" asp-page="">Item Categories</a></li>
                                    <li class=""><a asp-area="" asp-page="">Warehouses</a></li>
                                    <li class=""><a asp-area="" asp-page="">Unit of Measures</a></li>
                                    <li class=""><a asp-area="" asp-page="">Mapping Accounts</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="with-sub">
                        <a href="#" aria-haspopup="true">
                            <span class="menu-icon">
                                <i class="fas fa-cash-register"></i>
                            </span>
                            <span class="menu-text">Transactions</span>
                        </a>
                        <ul class="sidebar-submenu collapse">
                            <li class="menu-subtitle">Inventory Transactions</li>
                            <li class="">
                                <a href="">
                                    <span class="menu-icon"><i class="zmdi zmdi-minus"></i></span>
                                    <span>Inventory Transactions</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="">
                                    <span class="menu-icon"><i class="zmdi zmdi-minus"></i></span>
                                    <span>Inventory Transfer</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="">
                                    <span class="menu-icon"><i class="zmdi zmdi-minus"></i></span>
                                    <span>Inventory Dispatch</span>
                                </a>
                            </li>
                        </ul>
                    </li>



                    <li class="menu-title">Human Resources</li>
                    <li class="with-sub">
                        <a href="#" aria-haspopup="true">
                            <span class="menu-icon">
                                <i class="fas fa-user-tie"></i>
                            </span>
                            <span class="menu-text">Employees</span>
                        </a>
                        <ul class="sidebar-submenu collapse">
                            <li class="menu-subtitle">Employees</li>
                            <a asp-area="" asp-page="/COA/List" style="display: none"></a>

                            <li class=""><a asp-area="HR" asp-page="/Employees/List"><span class="menu-icon"><i class="zmdi zmdi-minus"></i></span> <span class="menu-text">Employee List</span></a></li>
                            <li class="">
                                <a asp-area="HR" asp-page="/Documents/List">
                                    <span class="menu-icon"><i class="zmdi zmdi-minus"></i></span>
                                    <span class="menu-text">Documents</span>
                                </a>
                            </li>
                            <li class="">
                                <a asp-area="HR" asp-page="/Timesheet/List">
                                    <span class="menu-icon"><i class="zmdi zmdi-minus"></i></span>
                                    <span class="menu-text">Timesheet (Admin)</span>
                                </a>
                            </li>
                            <li class="">
                                <a asp-area="HR" asp-page="/Setup/Index">
                                    <span class="menu-icon"><i class="zmdi zmdi-minus"></i></span>
                                    <span class="menu-text">Setup</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="with-sub">
                        <a href="#" aria-haspopup="true">
                            <span class="menu-icon">
                                <i class="fas fa-calendar-check"></i>
                            </span>
                            <span class="menu-text">Payroll</span>
                        </a>
                        <ul class="sidebar-submenu collapse">
                            <li class="menu-subtitle">Payroll</li>
                            <li class="">
                                <a href="">
                                    <span class="menu-icon"><i class="zmdi zmdi-minus"></i></span>
                                    <span class="menu-text">Attendence & Leaves</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="">
                                    <span class="menu-icon"><i class="zmdi zmdi-minus"></i></span>
                                    <span class="menu-text">Loans</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="">
                                    <span class="menu-icon"><i class="zmdi zmdi-minus"></i></span>
                                    <span class="menu-text">General Request</span>
                                </a>
                            </li>
                            <li class="">
                                <a asp-area="Payroll" asp-page="/Payrun/List">
                                    <span class="menu-icon"><i class="zmdi zmdi-minus"></i></span>
                                    <span class="menu-text">Payrun</span>
                                </a>
                            </li>
                            <li class="">
                                <a asp-area="Payroll" asp-page="/Recon/List">
                                    <span class="menu-icon"><i class="zmdi zmdi-minus"></i></span>
                                    <span class="menu-text">Reconcilliation</span>
                                </a>
                            </li>
                            <li class="">
                                <a asp-area="Payroll" asp-page="/PaymentSheet/List">
                                    <span class="menu-icon"><i class="zmdi zmdi-minus"></i></span>
                                    <span class="menu-text">Payment Sheets</span>
                                </a>
                            </li>
                            <li class="">
                                <a asp-area="Payroll" asp-page="/Indemnity/List">
                                    <span class="menu-icon"><i class="zmdi zmdi-minus"></i></span>
                                    <span class="menu-text">Indemnities</span>
                                </a>
                            </li>
                            <li class="">
                                <a asp-area="Payroll" asp-page="/SocialInsurance/List">
                                    <span class="menu-icon"><i class="zmdi zmdi-minus"></i></span>
                                    <span class="menu-text">Social Insurances</span>
                                </a>
                            </li>
                            <li class="">
                                <a asp-area="Payroll" asp-page="/Setup/Index">
                                    <span class="menu-icon"><i class="zmdi zmdi-minus"></i></span>
                                    <span class="menu-text">Setup</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    @*<li class="with-sub">
                            <a href="#" aria-haspopup="true">
                                <span class="menu-icon">
                                    <i class="fas fa-info"></i>
                                </span>
                                <span class="menu-text">HR Self Services</span>
                            </a>
                            <ul class="sidebar-submenu collapse">
                                <li class="menu-subtitle">HR Self Services</li>
                                <li class="">
                                    <a href="">
                                        <span class="menu-icon"><i class="zmdi zmdi-minus"></i></span>
                                        <span class="menu-text">Code of Conduct Document</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="">
                                        <span class="menu-icon"><i class="zmdi zmdi-minus"></i></span>
                                        <span class="menu-text">Data Protection Policy</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="">
                                        <span class="menu-icon"><i class="zmdi zmdi-minus"></i></span>
                                        <span class="menu-text">Independence Confirmation Document</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="">
                                        <span class="menu-icon"><i class="zmdi zmdi-minus"></i></span>
                                        <span class="menu-text">AML Guidelines</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="">
                                        <span class="menu-icon"><i class="zmdi zmdi-minus"></i></span>
                                        <span class="menu-text">Audit Practice Manual</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="">
                                        <span class="menu-icon"><i class="zmdi zmdi-minus"></i></span>
                                        <span class="menu-text">System of Internal Control Charter</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="">
                                        <span class="menu-icon"><i class="zmdi zmdi-minus"></i></span>
                                        <span class="menu-text">Timesheet</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="">
                                        <span class="menu-icon"><i class="zmdi zmdi-minus"></i></span>
                                        <span class="menu-text">Expense Claims</span>
                                    </a>
                                </li>
                            </ul>
                        </li>*@
                    <li class="with-sub">
                        <a href="#" aria-haspopup="true">
                            <span class="menu-icon">
                                <i class="zmdi zmdi-wrench"></i>
                            </span>
                            <span class="menu-text">HCM Setup</span>
                        </a>
                        <ul class="sidebar-submenu collapse">
                            <li class="with-sub">
                                <a href="#" aria-haspopup="true">
                                    <span class="menu-icon">
                                        <i class="zmdi zmdi-arrow-merge"></i>
                                    </span>
                                    <span class="menu-text">Organizational Management</span>
                                </a>
                                <ul class="sidebar-submenu collapse" style="padding-left: 31px">
                                    <li class="menu-subtitle">Organizational Management</li>
                                    <li class=""><a asp-area="" asp-page="">Company Setup</a></li>
                                    <li class="with-sub">
                                        <a href="#" aria-haspopup="true">
                                            <span class="menu-text">Organization Structure</span>
                                        </a>
                                        <ul class="sidebar-submenu sidebar-submenu-simple collapse" style="padding-left: 31px">
                                            <li class="menu-subtitle">Organization Structure</li>
                                            <li class="">
                                                <a asp-area="HR" asp-page="/Setup/OrganizationalManagement/OrganizationStructure/List">
                                                    <span class="menu-icon"><i class="zmdi zmdi-minus"></i></span>
                                                    <span class="menu-text">List</span>
                                                </a>
                                            </li>
                                            <li class="with-sub">
                                                <a href="#" aria-haspopup="true">
                                                    @*<span class="menu-icon">
                                                            <i class="zmdi zmdi-arrow"></i>
                                                        </span>*@
                                                    <span class="menu-text">Essentials</span>
                                                </a>
                                                <ul class="sidebar-submenu sidebar-submenu-simple collapse" style="padding-left: 31px">
                                                    <li class="menu-subtitle">Essentials</li>

                                                    <li class="">
                                                        <a asp-area="HR" asp-page="/Setup/OrganizationalManagement/OrganizationStructure/BusinessUnits/List">
                                                            <span class="menu-icon"><i class="zmdi zmdi-minus"></i></span>
                                                            <span class="menu-text">Business Units</span>
                                                        </a>
                                                    </li>
                                                    <li class="">
                                                        <a asp-area="HR" asp-page="/Setup/OrganizationalManagement/OrganizationStructure/Divisions/List">
                                                            <span class="menu-icon"><i class="zmdi zmdi-minus"></i></span>
                                                            <span class="menu-text">Divisions</span>
                                                        </a>
                                                    </li>
                                                    <li class="">
                                                        <a asp-area="HR" asp-page="/Setup/OrganizationalManagement/OrganizationStructure/CompensationMatrices/List">
                                                            <span class="menu-icon"><i class="zmdi zmdi-minus"></i></span>
                                                            <span class="menu-text">Compensation Matrices</span>
                                                        </a>
                                                    </li>
                                                    <li class="">
                                                        <a asp-area="HR" asp-page="/Setup/OrganizationalManagement/OrganizationStructure/Academia/List">
                                                            <span class="menu-icon"><i class="zmdi zmdi-minus"></i></span>
                                                            <span class="menu-text">Academia</span>
                                                        </a>
                                                    </li>
                                                    <li class="">
                                                        <a asp-area="HR" asp-page="/Setup/OrganizationalManagement/OrganizationStructure/Skills/List">
                                                            <span class="menu-icon"><i class="zmdi zmdi-minus"></i></span>
                                                            <span class="menu-text">Skills</span>
                                                        </a>
                                                    </li>
                                                    <li class="">
                                                        <a asp-area="HR" asp-page="/Setup/OrganizationalManagement/OrganizationStructure/Functions/List">
                                                            <span class="menu-icon"><i class="zmdi zmdi-minus"></i></span>
                                                            <span class="menu-text">Functions</span>
                                                        </a>
                                                    </li>
                                                    <li class="">
                                                        <a asp-area="HR" asp-page="/Setup/OrganizationalManagement/OrganizationStructure/Tasks/List">
                                                            <span class="menu-icon"><i class="zmdi zmdi-minus"></i></span>
                                                            <span class="menu-text">Tasks</span>
                                                        </a>
                                                    </li>
                                                    <li class="">
                                                        <a asp-area="HR" asp-page="/Setup/OrganizationalManagement/OrganizationStructure/Jobs/List">
                                                            <span class="menu-icon"><i class="zmdi zmdi-minus"></i></span>
                                                            <span class="menu-text">Jobs</span>
                                                        </a>
                                                    </li>
                                                    <li class="">
                                                        <a asp-area="HR" asp-page="/Setup/OrganizationalManagement/OrganizationStructure/Positions/List">
                                                            <span class="menu-icon"><i class="zmdi zmdi-minus"></i></span>
                                                            <span class="menu-text">Positions</span>
                                                        </a>
                                                    </li>
                                                    <li class="">
                                                        <a asp-area="HR" asp-page="/Setup/OrganizationalManagement/OrganizationStructure/Departments/List">
                                                            <span class="menu-icon"><i class="zmdi zmdi-minus"></i></span>
                                                            <span class="menu-text">Departments</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class=""><a asp-area="" asp-page="">Enterprise Structure</a></li>
                                    <li class=""><a asp-area="" asp-page="">Personnel Structure</a></li>
                                </ul>
                            </li>
                            <li class="with-sub">
                                <a href="#" aria-haspopup="true">
                                    <span class="menu-text">Users Management</span>
                                </a>
                                <ul class="sidebar-submenu sidebar-submenu-simple collapse" style="padding-left: 31px">
                                    <li class="menu-subtitle">Users Management</li>
                                    <li class="">
                                        <a asp-area="HR" asp-page="/Setup/UsersManagement/Users/List">
                                            <span class="menu-icon"><i class="zmdi zmdi-minus"></i></span>
                                            <span class="menu-text">Users</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a asp-area="HR" asp-page="/Setup/UsersManagement/Roles/List">
                                            <span class="menu-icon"><i class="zmdi zmdi-minus"></i></span>
                                            <span class="menu-text">Roles</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="menu-title">CUSTOMERS</li>
                    <li class="with-sub">
                        <a href="#" aria-haspopup="true">
                            <span class="menu-icon">
                                <i class="fas fa-address-book"></i>
                            </span>
                            <span class="menu-text">Address Book</span>
                        </a>
                        <ul class="sidebar-submenu collapse">
                            <li class="menu-subtitle">Address Book</li>
                            <li class="">
                                <a href="">
                                    <span class="menu-icon"><i class="zmdi zmdi-minus"></i></span>
                                    <span class="menu-text">View Address Book</span>
                                </a>
                            </li>
                            @*<li><a href="dashboard-2.html">Reports</a></li>*@
                            <li class="with-sub">
                                <a href="#" aria-haspopup="true">
                                    <span class="menu-icon">
                                        <i class="zmdi zmdi-chart-donut"></i>
                                    </span>
                                    <span class="menu-text">Reports</span>
                                </a>
                                <ul class="sidebar-submenu collapse" style="padding-left: 31px">
                                    <li class="menu-subtitle">Reports</li>
                                    <li class=""><a asp-area="" asp-page="">Report by Address</a></li>
                                    <li class=""><a asp-area="" asp-page="">Report by Primary Contacts</a></li>
                                    <li><a href="dashboard-2.html">Check for Duplicates</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    @*<li class="with-sub">
                            <a href="#" aria-haspopup="true">
                                <span class="menu-icon">
                                    <i class="fas fa-bullseye"></i>
                                </span>
                                <span class="menu-text">Engagements</span>
                            </a>
                            <ul class="sidebar-submenu collapse">
                                <li class="menu-subtitle">Engagements</li>
                                <li class="">
                                    <a href="">
                                        <span class="menu-icon"><i class="zmdi zmdi-minus"></i></span>
                                        <span class="menu-text">Opportunities</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="">
                                        <span class="menu-icon"><i class="zmdi zmdi-minus"></i></span>
                                        <span class="menu-text">Engagements</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="with-sub">
                            <a href="#" aria-haspopup="true">
                                <span class="menu-icon">
                                    <i class="fas fa-puzzle-piece"></i>
                                </span>
                                <span class="menu-text">Products / Services</span>
                            </a>
                            <ul class="sidebar-submenu collapse">
                                <li class="menu-subtitle">Products / Services</li>
                                <li class="">
                                    <a href="">
                                        <span class="menu-icon"><i class="zmdi zmdi-minus"></i></span>
                                        <span class="menu-text">Item List</span>
                                    </a>
                                </li>
                            </ul>
                        </li>*@


                    <li class="menu-title">Business Intelligence</li>
                    <li class="">
                        <a href="">
                            <span class="menu-icon"><i class="fas fa-chart-pie"></i></span>
                            <span class="menu-text">Reports</span>
                        </a>
                    </li>


                    <li class="menu-title">Settings</li>
                    <li class="with-sub">
                        <a href="#" aria-haspopup="true">
                            <span class="menu-icon">
                                <i class="fas fa-cogs"></i>
                            </span>
                            <span class="menu-text">Setup</span>
                        </a>
                        <ul class="sidebar-submenu collapse">
                            <li class="menu-subtitle">Setup</li>
                            <li class="">
                                <a asp-area="Setup" asp-page="/Companies/List">
                                    <span class="menu-icon"><i class="zmdi zmdi-minus"></i></span>
                                    <span class="menu-text">Companies</span>
                                </a>
                            </li>
                            <li class="">
                                <a asp-area="Setup" asp-page="/Locations/List">
                                    <span class="menu-icon"><i class="zmdi zmdi-minus"></i></span>
                                    <span class="menu-text">Locations / Branches</span>
                                </a>
                            </li>
                            <li class="">
                                <a asp-area="Setup" asp-page="/Currencies/List">
                                    <span class="menu-icon"><i class="zmdi zmdi-minus"></i></span>
                                    <span class="menu-text">Currencies</span>
                                </a>
                            </li>
                            <li class="">
                                <a asp-area="Setup" asp-page="/Codes/List">
                                    <span class="menu-icon"><i class="zmdi zmdi-minus"></i></span>
                                    <span class="menu-text">Lookup</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div id="main-loader" class="mainLoader">
            @*<div class="loader"></div>*@
            <div id="circle">
                <div class="loader">
                    <div class="loader">
                        <div class="loader">
                            <div class="loader">
                                <img id="" src="~/img/logos/OxygenERPLogo.png" alt="" height="35">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @RenderBody()

        <div class="site-footer position-sticky customPageFooter">
            <div class="container">
                <span class="text-muted"> 2020 © Oxygen ERP</span>
            </div>
        </div>
    </div>

    <script src="~/libs/smartwizard/dist/js/jquery.smartWizard.min.js"></script>
    <script>
        $('#smartwizard').smartWizard({
            selected: 0,
            theme: 'arrows',
            transitionEffect: 'slide',
            showStepURLhash: false,
            keyNavigation: true,
            //errorSteps: [1],
            toolbarSettings: {
                showNextButton: false, // show/hide a Next button
                showPreviousButton: false, // show/hide a Previous button
            },
            anchorSettings: {
                anchorClickable: true, // Enable/Disable anchor navigation
                enableAllAnchors: true, // add done css
                markDoneStep: false, // add done css
                markAllPreviousStepsAsDone: false, // When a step selected by url hash, all previous steps are marked done
                removeDoneStepOnNavigateBack: true, // While navigate back done step after active step will be cleared
                enableAnchorOnDoneStep: true, // Enable/Disable the done steps navigation
            }
        });
        $('#smartwizard').show();
    </script>
    <script src="~/libs/sweetalert2/dist/sweetalert2.min.js"></script>
    <script src="~/libs/bootstrap-multiselect-0.9.15/js/bootstrap-multiselect.js"></script>

    @*<script type="text/javascript" src="js/bootstrap-multiselect.js"></script>
        <link rel="stylesheet" href="css/bootstrap-multiselect.css" type="text/css" />*@
    @*<script src="~/libs/sweetalert/sweetalert.min.js"></script>*@
    @*<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>*@
    @*<script src="~/seed/js/libs/jquery-3.2.1.min.js"></script>*@


    @*<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>*@
    @*<script src="~/seed/js/libs/jquery-ui.min.js"></script>*@

    <!-- IMPORTANT: APP CONFIG -->
    @*<script src="~/seed/js/app.config.js"></script>*@
    <!-- BOOTSTRAP JS -->
    @*<script src="~/seed/js/bootstrap/bootstrap.min.js"></script>*@

    <!--[if IE 8]>
        <h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>
    <![endif]-->
    <!-- MAIN APP JS FILE -->
    @*<script src="~/seed/js/app.min.js"></script>*@

    <script src="~/libs/toastr/toastr.min.js"></script>
    <script src="~/scripts/cerp/cosmos.min.js"></script>
    <script src="~/scripts/cerp/application.min.js"></script>
    <script src="~/scripts/cerp/index.min.js"></script>

    <script>
        var curNode;
        var curState = window.localStorage.getItem('menu-state');
        if (curState != null && curState.length > 0) {
            $.each($('.with-sub'), function (i, item) {
                if (curState.includes($(item).children().first().find('.menu-text').text())) {
                    $(item).find('.sidebar-submenu').collapse('show');
                    $(item).addClass('open');
                }
            });
            var curItem = window.localStorage.getItem('active-item');
            if (curItem != '') {
                $(`.with-sub.open > .sidebar-submenu > li > a > .menu-text:contains(${curItem})`).parent().addClass('sidebar-active');
            }
        }
        $('.with-sub').on('click', function (event) {
            event.stopPropagation();
            curNode = this;
            setTimeout(function () {
                var rawCurState = '';
                if ($(curNode).closest('.with-sub').length > 1)
                    rawCurState = window.localStorage.getItem('menu-state');

                var curState = rawCurState != "" ? JSON.parse(rawCurState) : [];
                var curValue = $(curNode).children().first().find('.menu-text').text();
                if ($(curNode).hasClass('open')) {
                    curState.push(curValue);
                }
                else {
                    curState = curState.filter(function (val, ind, arr) { return val != curValue });
                }
                window.localStorage.setItem('menu-state', JSON.stringify(curState));
                return false;
            }, 100);
        })
        $('.sidebar-submenu > li > a').on('click', function (event) {
            event.stopPropagation();
            var curUrl = $(this).closest('a').attr('href');
            if (typeof (curUrl) !== 'undefined' && curUrl != '#') {
                $('.sidebar-submenu > li > a').removeClass('sidebar-active');
                $(this).addClass('sidebar-active');
                window.localStorage.setItem('active-item', $(this).find('.menu-text').text());
                $('#main-loader').show();
            }
        })
    </script>
    @*<script type="text/javascript" src="https://apina.address.gov.sa/NationalAddress/v3.1/maps/map-engine?api_key=13af4fc1ca1846a7864ccec09975f1df"></script>*@

    @*<link href="~/libs/JqueryDatepicker/css/jquery.calendars.picker.css" />
        <script src="~/libs/JqueryDatepicker/js/jquery.calendars.js"></script>
        <script src="~/libs/JqueryDatepicker/js/jquery.calendars.plus.js"></script>
        <script src="~/libs/JqueryDatepicker/js/jquery.plugin.js"></script>
        <script src="~/libs/JqueryDatepicker/js/jquery.calendars.picker.js"></script>
        <script src="~/libs/JqueryDatepicker/js/jquery.calendars.islamic.js"></script>*@

    @*<script src="~/libs/syncfusion/ej2-bundle/scripts/ej2-bundle.min.js"></script>*@
    <script src="~/libs/syncfusion/ej2/scripts/ej2.min.js"></script>
    @*<script src="~/libsfont-awesome/js/fontawesome.min.js"></script>*@


    <script src="/libs/abp/core/abp.js?_v=637228051040000000"></script>
    <script src="~/libs/abp/jquery/abp.jquery.js"></script>
    <script src="/Abp/ApplicationConfigurationScript"></script>
    <script src="/Abp/ServiceProxyScript"></script>

    <script src="~/libs/rfdc/index.js"></script>
    <script src="~/scripts/cerp/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
    <ejs-scripts></ejs-scripts>
    <script>
        $('#main-loader').hide();
    </script>
</body>
</html>