@using CERP.App;
@{
    List<DictionaryValue> countries = (List<DictionaryValue>)ViewData["countries"];
    List<DictionaryValue> cities = (List<DictionaryValue>)ViewData["cities"];
}

@section scripts{
    <script>

    </script>
}

<div class="m-l-20 m-t-0">
    <h2>Contact Information</h2>
    <p>
        Provide contact information of the employee
    </p>
</div>
<div class="panel-body" style="padding-bottom:0">
    <div class="col-lg-12 padding-right-0">
        <div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="col-sm-3" style="padding:0">
                        <div class="form-group">
                            <label class="control-label m-b-5">Code:</label>
                            <input type="number" id="phoneKey" name="PhoneKey" value="00966" style="width:100% !important" class="form-control inline pull-left">
                        </div>
                    </div>
                    <div class="col-sm-9" style="padding:0">
                        <div class="form-group">
                            <label class="control-label m-b-5 pull-right ">Phone:</label>
                            <input type="number" id="phoneNo" name="PhoneNo" @*value="@(empInfo!=null? empInfo.PHONE_NO : "")"*@ style="width:100% !important" class="form-control inline">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="col-sm-3" style="padding:0">
                        <div class="form-group">
                            <label class="control-label m-b-5">Code:</label>
                            <input type="number" id="mobileKey" name="MobileKey" value="00966" style="width:100% !important" class="form-control inline pull-left">
                        </div>
                    </div>
                    <div class="col-sm-9" style="padding:0">
                        <div class="form-group">
                            <label class="control-label m-b-5 pull-right ">Mobile:</label>
                            <input type="number" id="mobileNo" name="MobileNo" @*value="@(empInfo!=null? empInfo.PHONE_NO : "")"*@ style="width:100% !important" class="form-control inline">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="col-sm-3" style="padding:0">
                        <div class="form-group">
                            <label class="control-label m-b-5">Code:</label>
                            <input type="number" id="faxKey" name="FaxKey" value="00966" style="width:100% !important" class="form-control inline pull-left">
                        </div>
                    </div>
                    <div class="col-sm-9" style="padding:0">
                        <div class="form-group">
                            <label class="control-label m-b-5 pull-right ">Fax:</label>
                            <input type="number" id="faxNo" name="FaxNo" @*value="@(empInfo!=null? empInfo.PHONE_NO : "")"*@ style="width:100% !important" class="form-control inline">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="margin-bottom-5  control-label">Email:</label>
                        <input type="email" id="email" name="Email" @*value="@(empInfo!=null? empInfo.EMAIL : "")"*@ class="form-control">
                    </div>
                </div>
            </div>
            <div class="clearfix margin-5"></div>

            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <label class="margin-bottom-5  control-label">Country:</label>
                    <div>
                        <select id="countryId" name="CountryId" class="form-control">
                            <option></option>
                            @for (int i = 0; i < countries.Count; i++)
                            {
                                <option value="@countries[i].Key">@countries[i].Value</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div>
                        <label class="margin-bottom-5  control-label">City:</label>
                    </div>
                    <div>
                        <select id="cityId" name="CityId" class="form-control">
                            <option></option>
                            @for (int i = 0; i < cities.Count; i++)
                            {
                                <option value="@cities[i].Key">@cities[i].Value</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">

                    <div class="form-group">
                        <label class="margin-bottom-5  control-label">Zip Code:</label>
                        <input type="number" id="zipCode" name="ZipCode" min="0" @*value="@(empInfo!=null? empInfo.ZIP_CODE : "")"*@ class="form-control">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">

                    <div class="form-group">
                        <label class="margin-bottom-5  control-label">P.O Box:</label>
                        <input type="number" id="poBox" name="POBoxNumber" min="0" @*value="@(empInfo!=null? empInfo.PO_BOX : "")"*@ class="form-control">
                    </div>
                </div>
            </div>
        </div>

        <div class="m-l-0 m-t-0">
            <h2>National Address</h2>
            <p>
                Provide national address of the employee
            </p>
        </div>
        <div>
            <hr class="margin-top-5 margin-bottom-10">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="margin-bottom-5  control-label">Building No:</label>
                        <input type="text" id="buildingNumber" name="BuildingNumber" @*value="@(empInfo!=null? empInfo.ADD_BUILDING_NO : "")"*@ class="form-control">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="margin-bottom-5  control-label">Street Name:</label>
                        <input type="text" id="streetName" name="StreetName" @*value="@(empInfo!=null? empInfo.ADD_STREET_NAME : "")"*@ class="form-control">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="margin-bottom-5  control-label">District:</label>
                        <input type="text" id="addDistrict" name="AddDstrict" @*value="@(empInfo!=null? empInfo.ADD_DISTRICT : "")"*@ class="form-control">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="margin-bottom-5  control-label">City :</label>
                        <input type="text" id="addCity" name="AddCity" @*value="@(empInfo!=null? empInfo.ADD_CITY : "")"*@ class="form-control">
                    </div>
                </div>
            </div>
            <div class="clearfix margin-5"></div>


            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="margin-bottom-5  control-label">Postal Code:</label>
                        <input type="text" id="addPostalCode" name="AddPostalCode" @*value="@(empInfo!=null? empInfo.ADD_POSTAL_CODE : "")"*@ class="form-control">
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="margin-bottom-5  control-label">Additional Number:</label>
                        <input type="text" id="addAdditionalNumber" name="AddAdditionalNumber" @*value="@(empInfo!=null? empInfo.ADD_ADDITIONAL_NO : "")"*@ class="form-control">
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
