@using CERP.App;
@using Syncfusion.EJ2.Grids;
@addTagHelper *, Syncfusion.EJ2
@{
    List<DictionaryValue> dependentRelationshipTypes = (List<DictionaryValue>)ViewData["dependentRelationshipTypes"];
    List<DictionaryValue> dependentsDS = (List<DictionaryValue>)ViewData["dependentsDS"];

    List<GridColumn> dependentsColumns = (List<GridColumn>)ViewData["dependentsColumns"];

    List<DictionaryValue> idTypes = (List<DictionaryValue>)ViewData["idTypes"];
    List<DictionaryValue> idIssuers = (List<DictionaryValue>)ViewData["idIssuers"];
    List<DictionaryValue> passportIssuers = (List<DictionaryValue>)ViewData["passportIssuers"];

    var alertanimation = new Syncfusion.EJ2.Popups.DialogAnimationSettings { Effect = Syncfusion.EJ2.Popups.DialogEffect.None };
}

@section scripts{
    <script>

    </script>
}

<div class="m-l-20 m-t-0">
    <h2>Dependents Details</h2>
    <p>
        Provide dependents details of the employee
    </p>
</div>
<div class="panel-body" style="padding-bottom:0">
    <div class="col-lg-12 padding-right-0">

        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                    <label class="margin-bottom-5  control-label">ID Type:</label>
                    <select id="idTypeId" name="IDTypeId" class="form-control" required>
                        <option></option>
                        @for (int i = 0; i < idTypes.Count; i++)
                        {
                            <option value="@idTypes[i].Key">@idTypes[i].Value</option>
                        }
                    </select>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                    <label class="margin-bottom-5  control-label">ID No:</label>
                    <input type="text" id="idNo" name="IDNo" @*value="@(empInfo!=null? empInfo.ID_NO : "")"*@ class="form-control" required>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                    <label class="margin-bottom-5  control-label">Issued From:</label>
                    <select id="idIssuedFromId" name="IDIssuedFromId" class="form-control" required>
                        <option></option>
                        @for (int i = 0; i < idIssuers.Count; i++)
                        {
                            <option value="@idIssuers[i].Key">@idIssuers[i].Value</option>
                        }
                    </select>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                    <label class="margin-bottom-5  control-label">Job Title on ID:</label>
                    <input type="text" id="idJobTitle" name="IDJobTitle" @*value="@(empInfo!=null? empInfo.ID_JOB_TITLE_EN : "")"*@ class="form-control" required>
                </div>
            </div>

            @*<div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <label class="margin-bottom-5  control-label">Job Title in ID (Arabic):</label>
                <div>
                    <input type="text" id="ID_JOB_TITLE_EN_AR" name="ID_JOB_TITLE_EN_AR" value="@(empInfo!=null? empInfo.ID_JOB_TITLE_EN_AR : "")" class="form-control">
                </div>
            </div>*@
        </div>
        <div class="clearfix margin-5"></div>
        <div class="row">

            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                    <label class="margin-bottom-5  control-label">Sponsor:</label>
                    <input type="text" id="idSponsorName" name="IDSponsorName" @*value="@(empInfo!=null? empInfo.ID_SPONSOR_NAME_EN : "")"*@ class="form-control" required>
                </div>
            </div>
            @*<div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <label class="margin-bottom-5  control-label">Sponsor (Arabic):</label>
                <div>
                    <input type="text" id="ID_SPONSOR_NAME_AR" name="ID_SPONSOR_NAME_AR" value="@(empInfo!=null? empInfo.ID_SPONSOR_NAME_AR : "")" class="form-control">
                </div>
            </div>*@

            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="col-sm-6" style="padding:0">
                    <div class="form-group">
                        <label class="control-label m-b-5">Issued Date:</label>
                        <input type="text" id="idIssuedDate" name="IDIssueDate" @*value="@(empInfo!=null? empInfo.ID_ISSUED_DATE : "")"*@ style="width:100% !important" class="text-left form-control inline pull-left DatePicker" required>
                    </div>
                </div>
                <div class="col-sm-6" style="padding:0">
                    <div class="form-group">
                        <label class="control-label m-b-5 pull-right ">Hijri date</label>
                        <input type="text" id="idIssuedHDate" name="IDIssuedHDate" @*value="@(empInfo!=null? empInfo.ID_ISSUED_DATE_H : "")"*@ style="width:100% !important" class="text-right  form-control inline DatePickerHijri" required>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="col-sm-6" style="padding:0">
                    <div class="form-group">
                        <label class="control-label m-b-5">End Date:</label>
                        <input type="text" id="idEndDate" name="IDEndDate" @*value="@(empInfo!=null? empInfo.ID_END_DATE : "")"*@ style="width:100% !important" class="text-left form-control inline pull-left DatePicker" required>
                    </div>
                </div>
                <div class="col-sm-6" style="padding:0">
                    <div class="form-group">
                        <label class="control-label m-b-5 pull-right ">Hijri date</label>
                        <input type="text" id="idEndHDate" name="IDEndHDate" @*value="@(empInfo!=null? empInfo.ID_END_DATE_H : "")"*@ style="width:100% !important" class="text-right  form-control inline   DatePickerHijri" required>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-12">

                @*@if (empInfo != null && empInfo.ID_ATTACHMENT != null)
                {
                    <a href='@(Url.Content("~")+"Files\\"+ Model.EMP_ID+"\\"+Convert.ToString(empInfo.ID_ATTACHMENT))' target="_blank" class="margin-bottom-5  pull-right text-right">
                        View File
                    </a>
                }*@
                <div class="form-group">
                    <label class="margin-bottom-5  control-label">Updated ID Copy:</label>
                    <input type="file" id="idCard" name="IDCard" class="form-control " required />
                </div>
                <input type="hidden" id="idAttachment" name="IDAttachment" @*value="@(empInfo!=null? empInfo.ID_ATTACHMENT : "")"*@ class="form-control">



            </div>
        </div>

        <hr />

        <div class="row">


            <div class="col-lg-3 col-md-6 col-sm-6 col-12">

                <div class="form-group">
                    <label class="margin-bottom-5  control-label">Passport No:</label>
                    <input type="text" id="passportNo" name="PassportNo" @*value="@(empInfo!=null? empInfo.PASSPORT_NO : "")"*@ class="form-control" required>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                    <label class="margin-bottom-5  control-label">Issued From:</label>
                    <select id="passportIssuedFrom" name="PassportIssuedFromId" class="form-control" required>
                        <option></option>
                        @for (int i = 0; i < passportIssuers.Count; i++)
                        {
                            <option value="@passportIssuers[i].Key">@passportIssuers[i].Value</option>
                        }
                    </select>
                </div>
            </div>

            @*<div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                    <label class="margin-bottom-5  control-label">Job Title on Passport:</label>
                    <input type="text" id="passportJobTitle" name="PassportJobTitle" value="@(empInfo!=null? empInfo.PASSPORT_JOB_TITLE_EN : "")" class="form-control" required>
                </div>
            </div>*@
            @*<div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <label class="margin-bottom-5  control-label">Job Title in Passport (Arabic):</label>
                <div>
                    <input type="text" id="PASSPORT_JOB_TITLE_AR" name="PASSPORT_JOB_TITLE_AR" value="@(empInfo!=null? empInfo.PASSPORT_JOB_TITLE_AR : "")" class="form-control">
                </div>
            </div>*@
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                @*@if (empInfo != null && empInfo.PASSPORT_ATTACHMENT != null)
                {
                    <a href='@(Url.Content("~")+"Files\\"+ Model.EMP_ID+"\\"+Convert.ToString(empInfo.PASSPORT_ATTACHMENT))' target="_blank" class="margin-bottom-5  pull-right text-right">
                        View File
                    </a>
                }*@
                <div class="form-group">
                    <label class="margin-bottom-5  control-label">Updated Passport Copy:</label>
                    <input type="file" id="passport" name="Passport" class="form-control" required />
                </div>
                <input type="hidden" id="passportAttachment" name="PassportAttachment" @*value="@(empInfo!=null? empInfo.PASSPORT_ATTACHMENT : "")"*@ class="form-control">



            </div>
        </div>
        <div class="clearfix margin-5"></div>
        <div class="row">

            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="col-sm-6" style="padding:0">
                    <div class="form-group">
                        <label class="control-label m-b-5">Issued Date:</label>
                        <input type="text" id="passportIssuedDate" name="PassportIssuedDate" @*value="@(empInfo!=null? empInfo.PASSPORT_ISSUED_DATE : "")"*@ style="width:100% !important" class="text-left form-control inline pull-left DatePicker" required>
                    </div>
                </div>
                <div class="col-sm-6" style="padding:0">
                    <div class="form-group">
                        <label class="control-label m-b-5 pull-right ">Hijri date</label>
                        <input type="text" id="passportIssuedHDate" name="PassportIssuedHDate" @*value="@(empInfo!=null? empInfo.ID_ISSUED_DATE_H : "")"*@ style="width:100% !important" class="text-right  form-control inline DatePickerHijri" required>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="col-sm-6" style="padding:0">
                    <div class="form-group">
                        <label class="control-label m-b-5">End Date:</label>
                        <input type="text" id="passportExpiryDate" name="PassportEndDate" @*value="@(empInfo!=null? empInfo.PASSPORT_EXPIRY_DATE : "")"*@ style="width:100% !important" class="text-left form-control inline pull-left DatePicker" required>
                    </div>
                </div>
                <div class="col-sm-6" style="padding:0">
                    <div class="form-group">
                        <label class="control-label m-b-5 pull-right ">Hijri date</label>
                        <input type="text" id="passportExpiryHDate" name="PassportExpiryHDate" @*value="@(empInfo!=null? empInfo.PASSPORT_EXPIRY_DATE_H : "")"*@ style="width:100% !important" class="text-right  form-control inline   DatePickerHijri" required>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix margin-5"></div>

        <div class="control-section">
            <ejs-grid id="Grid2" dataSource="@dependentsDS" enableAutoFill="true" columns="@dependentsColumns"
                      dataBound="dataBound" commandClick="commandClick"
                      allowExcelExport="true" allowGrouping="true" allowPdfExport="true"
                      hierarchyPrintMode="All" allowSelection="true" allowFiltering="true"
                      allowSorting="true" allowMultiSorting="true" gridLines="Both"
                      toolbarClick="toolbarClick" toolbar="@(new List<object>() {"ExcelExport", "PdfExport", "CsvExport", "Print", "Search", "Delete", new { text = "Copy", tooltipText = "Copy", prefixIcon = "e-copy", id = "copy" }, new { text = "Copy With Header", tooltipText = "Copy With Header", prefixIcon = "e-copy", id = "copyHeader" } })"
                      contextMenuItems="@(new List<object>() { "AutoFit", "AutoFitAll", "SortAscending", "SortDescending","Copy", "Edit", "Delete", "Save", "Cancel","PdfExport", "ExcelExport", "CsvExport", "FirstPage", "PrevPage","LastPage", "NextPage"})"
                      allowPaging="true" allowResizing="true">

                <e-grid-editSettings showDeleteConfirmDialog="true" showConfirmDialog="true" allowAdding="true" allowDeleting="true" allowEditing="false"></e-grid-editSettings>
                <e-grid-selectionsettings type="Multiple"></e-grid-selectionsettings>
                <e-grid-pagesettings pageCount="5" pageSizes="@(new string[] { "5", "10" , "20", "All" })"></e-grid-pagesettings>
            </ejs-grid>
        </div>

        <ejs-dialog id="alert_dialog" animationSettings="alertanimation" visible="false" target=".control-section" width="300px" header="Copy with Header" content="Atleast one row should be selected to copy with header">
            <e-dialog-buttons>
                <e-dialog-dialogbutton buttonModel="@ViewData["alertbutton"]" click="alertBtnClick"></e-dialog-dialogbutton>
            </e-dialog-buttons>
        </ejs-dialog>
        <ejs-dialog id="alert_dialog_1" animationSettings="alertanimation" visible="false" target=".control-section" width="300px" header="Copy" content="Atleast one row should be selected to copy">
            <e-dialog-buttons>
                <e-dialog-dialogbutton buttonModel="@ViewData["alertbutton"]" click="alertBtnClick"></e-dialog-dialogbutton>
            </e-dialog-buttons>
        </ejs-dialog>
    </div>
</div>

<script>

    function toolbarClick(args) {
        var gridObj = document.getElementById("Grid").ej2_instances[0];
        if (args.item.id === 'Grid_pdfexport') {
            gridObj.pdfExport();
        }
        if (args.item.id === 'Grid_excelexport') {
            gridObj.excelExport();
        }
        if (args.item.id === 'Grid_csvexport') {
            gridObj.csvExport();
        }
        if (this.getSelectedRecords().length > 0) {
            var withHeader = false;
            if (args.item.id === 'copyHeader') {
                withHeader = true;
            }
            this.copy(withHeader);
        } else {
            if (args.item.id === 'copyHeader') {
                var dialogObj = document.getElementById('alert_dialog').ej2_instances[0];
                dialogObj.show();
            }
            else if (args.item.id === 'copy') {
                var dialogObj = document.getElementById('alert_dialog_1').ej2_instances[0];
                dialogObj.show();
            }
        }
    }
    function alertBtnClick() {
        var dialogObj = document.getElementById('alert_dialog').ej2_instances[0];
        var dialogObj1 = document.getElementById('alert_dialog_1').ej2_instances[0];
        dialogObj.hide();
        dialogObj1.hide();
    }
    var initial = true;
    function dataBound(args) {
        this.autoFitColumns();
        //if (initial == true) {
        //    this.groupModule.collapseAll();
        //    initial = false;
        //}
        console.log(args);
    }

    function commandClick(args) {
        console.log(args);
        if (args.commandColumn.type == "Edit") {
            var params_ = JSON.stringify(args.rowData);  // display row data
            window.location = "@Url.Content("~")/GL/Edit?Id=" + args.rowData.Id;
            @*$.ajax({
                url: "/?handler=EditAccountkj&Guid_=" + params_.Id,
                async: true,
                type: "GET",
                data: "",
                success: function (data) {
                    console.log(data);
                    //window.location = "@Url.Content("~")/COA/Edit";
                },
                error: function (err) {
                    console.log(err);
                }
            })*@
        }
        else if (args.commandColumn.type == "Copy") {
            this.copy(false);
        }
    }
</script>