@using CERP.App;
@using Syncfusion.EJ2.Grids;
@using CERP.HR.EMPLOYEE.RougeDTOs;
@{
    List<DictionaryValue> countries = (List<DictionaryValue>)ViewData["countries"];
    List<DictionaryValue> cities = (List<DictionaryValue>)ViewData["cities"];
    List<DictionaryValue> contactRelations = (List<DictionaryValue>)ViewData["contactRelations"];

    bool isEditing = (bool)ViewData["IsEditing"];
    ContactInformation contactInformation = isEditing ? (ContactInformation)Model.ContactInformation : null;


    List<GridColumn> secondaryContactsColumns = (List<GridColumn>)ViewData["secondaryContactsColumns"];
    IList<Contact> secondaryContactsDS = ((bool)ViewData["IsEditing"] == true)? contactInformation.SecondaryContacts : new List<Contact>();
}

@section scripts{
}
<script>
    $(document).ready(function () {
    $('#addSContactBtn').on('click', function () {
            var isCollapsed = $('#form-step-4-1').css('display') == 'none';

            if (isCollapsed) {
                $('#addSContactBtnSection').slideUp(200);
                $('#form-step-4-1').slideDown(200);
                setTimeout(function () { $('#addSContactBtn', '#addSContactBtnSection').html('<i class="fa fa-arrow-up p-r-5"></i> Cancel Add') }, 200)
                $('#addSContactBtnSection').slideDown(200);
            } else {
                $('#addSContactBtnSection').slideUp(200);
                $('#form-step-4-1').slideUp(200);
                setTimeout(function () { $('#addSContactBtn', '#addSContactBtnSection').html('<i class="fa fa-plus p-r-5"></i> Add Secondary Contact') }, 200)
                $('#addSContactBtnSection').slideDown(200);
            }
        });
    })
</script>

<div class="m-l-20 m-t-0">
    <h2>Contact Information</h2>
    <p>
        Provide contact information of the employee
    </p>
</div>
<hr />
<div class="panel-body p-t-0" style="padding-bottom:0;">
    <div class="col-lg-12 padding-right-0">
        <div class="m-l-0 m-t-0">
            <h2>Primary Contact</h2>
            <p>
                Provide primary contact of the employee
            </p>
        </div>
        <div id="primaryContactForm">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    @*<div class="col-sm-3" style="padding:0">
                        <div class="form-group">
                            <label class="control-label m-b-5">Code:</label>
                            <input type="number" id="phoneKey" name="PhoneKey" style="width:100% !important" class="form-control inline pull-left">
                        </div>
                    </div>*@
                    <div class="col-sm-12" style="padding:0">
                        <div class="form-group">
                            <label class="control-label m-b-5 ">Phone:</label>
                            <input type="number" value="@(isEditing? contactInformation.PrimaryContact.PhoneNumber : "")" id="phoneNo" name="PhoneNumber" @*value="@(empInfo!=null? empInfo.PHONE_NO : "")"*@ style="width:100% !important" class="form-control inline">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    @*<div class="col-sm-3" style="padding:0">
                        <div class="form-group">
                            <label class="control-label m-b-5">Code:</label>
                            <input type="number" id="mobileKey" name="MobileKey" style="width:100% !important" class="form-control inline pull-left">
                        </div>
                    </div>*@
                    <div class="col-sm-12" style="padding:0">
                        <div class="form-group">
                            <label class="control-label m-b-5 ">Mobile:</label>
                            <input type="number" value="@(isEditing? contactInformation.PrimaryContact.MobileNumber : "")" id="mobileNo" name="MobileNumber" @*value="@(empInfo!=null? empInfo.PHONE_NO : "")"*@ style="width:100% !important" class="form-control inline">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    @*<div class="col-sm-3" style="padding:0">
                        <div class="form-group">
                            <label class="control-label m-b-5">Code:</label>
                            <input type="number" id="faxKey" name="FaxKey" style="width:100% !important" class="form-control inline pull-left">
                        </div>
                    </div>*@
                    <div class="col-sm-12" style="padding:0">
                        <div class="form-group">
                            <label class="control-label m-b-5 ">Fax:</label>
                            <input type="number" id="faxNo" value="@(isEditing? contactInformation.PrimaryContact.FaxNumber : "")" name="FaxNumber" @*value="@(empInfo!=null? empInfo.PHONE_NO : "")"*@ style="width:100% !important" class="form-control inline">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="margin-bottom-5  control-label">Email:</label>
                        <input type="email" id="email" value="@(isEditing? contactInformation.PrimaryContact.Email : "")" name="Email" @*value="@(empInfo!=null? empInfo.EMAIL : "")"*@ class="form-control" required>
                    </div>
                </div>
            </div>
            <div class="clearfix margin-5"></div>

            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <label class="margin-bottom-5  control-label">Country:</label>
                    <div>
                        <select id="countryId" name="CountryId" class="form-control">
                            <option></option>
                            @for (int i = 0; i < countries.Count; i++)
                            {
                                <option value="@countries[i].Id" selected="@(isEditing? countries[i].Id == contactInformation.PrimaryContact.CountryId : false)" data-value="@countries[i].Value">@countries[i].Value</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div>
                        <label class="margin-bottom-5  control-label">City:</label>
                    </div>
                    <div>
                        @*<select id="cityId" name="CityId" class="form-control">
                            <option></option>
                            @for (int i = 0; i < cities.Count; i++)
                            {
                                <option value="@cities[i].Id" data-value="@cities[i].Value">@cities[i].Value</option>
                            }
                        </select>*@
                        <input type="text" id="cityId" value="@(isEditing? contactInformation.PrimaryContact.PCity : "")" name="PCity" min="0" @*value="@(empInfo!=null? empInfo.ZIP_CODE : "")"*@ class="form-control">

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">

                    <div class="form-group">
                        <label class="margin-bottom-5  control-label">Zip Code:</label>
                        <input type="number" id="zipCode" value="@(isEditing? contactInformation.PrimaryContact.ZipCode : "")" name="ZipCode" min="0" @*value="@(empInfo!=null? empInfo.ZIP_CODE : "")"*@ class="form-control">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">

                    <div class="form-group">
                        <label class="margin-bottom-5  control-label">P.O Box:</label>
                        <input type="number" id="poBox" value="@(isEditing? contactInformation.PrimaryContact.POBox : "")" name="POBox" min="0" @*value="@(empInfo!=null? empInfo.PO_BOX : "")"*@ class="form-control">
                    </div>
                </div>
            </div>
        </div>

        <div id="nationalAddressInfo">
            <div class="m-l-0 m-t-0">
                <h2>National Address</h2>
                <p>
                    Provide national address of the employee
                </p>
            </div>
            <div>
                <hr class="margin-top-5 margin-bottom-10">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="margin-bottom-5  control-label">Building No:</label>
                            <input type="text" id="buildingNumber" value="@(isEditing ? contactInformation.NationalAddress.BuildingNumber : "")" name="BuildingNumber" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="margin-bottom-5  control-label">Street Name:</label>
                            <input type="text" id="streetName" value="@(isEditing? contactInformation.NationalAddress.StreetName : "")" name="StreetName" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="margin-bottom-5  control-label">District:</label>
                            <input type="text" id="addDistrict" value="@(isEditing? contactInformation.NationalAddress.NADistrict : "")" name="NADistrict" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="margin-bottom-5  control-label">City:</label>
                            <input type="text" id="addCity" value="@(isEditing? contactInformation.NationalAddress.NACity : "")" name="NACity" class="form-control" required>
                        </div>
                    </div>
                </div>
                <div class="clearfix margin-5"></div>


                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="margin-bottom-5  control-label">Postal Code:</label>
                            <input type="text" id="addPostalCode" value="@(isEditing? contactInformation.NationalAddress.NAPostalCode : "")" name="NAPostalCode" @*value="@(empInfo!=null? empInfo.ADD_POSTAL_CODE : "")"*@ class="form-control">
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label class="margin-bottom-5  control-label">Additional Number:</label>
                            <input type="text" id="addAdditionalNumber" value="@(isEditing? contactInformation.NationalAddress.NAAdditionalNumber : "")" name="NAAdditionalNumber" @*value="@(empInfo!=null? empInfo.ADD_ADDITIONAL_NO : "")"*@ class="form-control">
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <hr />

        <div class="m-l-0 m-t-0">
            <h2>Secondary Contacts</h2>
            <p>
                Provide secondary contacts of the employee
            </p>
        </div>

        <div id="addSContactBtnSection" class="row" style="margin-bottom:10px;">
            <div class="col-lg-12">
                <button id="addSContactBtn" type="button" class="btn btn-primary btn-block"><i class="fa fa-plus p-r-5"></i> Add Secondary Contact</button>
            </div>
        </div>
        <div id="form-step-4-1" role="form" data-toggle="validator" style="display: none; margin-bottom:10px;">
            <div class="row m-t-20">
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="margin-bottom-5  control-label">Contact Relation:</label>
                        <select id="contactRelationId" name="ContactRelationId" class="form-control">
                            <option></option>
                            @for (int i = 0; i < contactRelations.Count; i++)
                            {
                                <option value="@contactRelations[i].Id" data-value="@contactRelations[i].Value">@contactRelations[i].Value</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="col-sm-3" style="padding:0">
                        <div class="form-group">
                            <label class="control-label m-b-5">Code:</label>
                            <input type="number" id="secPhoneKey" name="SecPhoneKey" style="width:100% !important" class="form-control inline pull-left">
                        </div>
                    </div>
                    <div class="col-sm-9" style="padding:0">
                        <div class="form-group">
                            <label class="control-label m-b-5 pull-right ">Phone:</label>
                            <input type="number" id="secPhoneNo" name="SecPhoneNo" @*value="@(empInfo!=null? empInfo.PHONE_NO : "")"*@ style="width:100% !important" class="form-control inline">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="col-sm-3" style="padding:0">
                        <div class="form-group">
                            <label class="control-label m-b-5">Code:</label>
                            <input type="number" id="secMobileKey" name="SecMobileKey" style="width:100% !important" class="form-control inline pull-left">
                        </div>
                    </div>
                    <div class="col-sm-9" style="padding:0">
                        <div class="form-group">
                            <label class="control-label m-b-5 pull-right ">Mobile:</label>
                            <input type="number" id="secMobileNo" name="SecMobileNo" @*value="@(empInfo!=null? empInfo.PHONE_NO : "")"*@ style="width:100% !important" class="form-control inline">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="col-sm-3" style="padding:0">
                        <div class="form-group">
                            <label class="control-label m-b-5">Code:</label>
                            <input type="number" id="secFaxKey" name="SecFaxKey" style="width:100% !important" class="form-control inline pull-left">
                        </div>
                    </div>
                    <div class="col-sm-9" style="padding:0">
                        <div class="form-group">
                            <label class="control-label m-b-5 pull-right ">Fax:</label>
                            <input type="number" id="secFaxNo" name="SecFaxNo" @*value="@(empInfo!=null? empInfo.PHONE_NO : "")"*@ style="width:100% !important" class="form-control inline">
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix margin-5"></div>

            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="margin-bottom-5  control-label">Email:</label>
                        <input type="email" id="secEmail" name="SecEmail" @*value="@(empInfo!=null? empInfo.EMAIL : "")"*@ class="form-control">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <label class="margin-bottom-5  control-label">Country:</label>
                    <div>
                        <select id="secCountryId" name="SecCountryId" class="form-control">
                            <option></option>
                            @for (int i = 0; i < countries.Count; i++)
                            {
                                <option value="@countries[i].Id" data-value="@countries[i].Value">@countries[i].Value</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div>
                        <label class="margin-bottom-5  control-label">City:</label>
                    </div>
                    <div>
                        @*<select id="secCityId" name="SecCityId" class="form-control">
                            <option></option>
                            @for (int i = 0; i < cities.Count; i++)
                            {
                                <option value="@cities[i].Id" data-value="@cities[i].Value">@cities[i].Value</option>
                            }
                        </select>*@
                        <input type="text" id="secCityId" name="SecCityId" min="0" @*value="@(empInfo!=null? empInfo.ZIP_CODE : "")"*@ class="form-control">

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 m-t-5">
                    <button id="submitSecondaryContact" type="button" class="btn btn-primary btn-block">Add Contact</button>
                </div>
            </div>
        </div>
        <ejs-grid id="SecondaryContactsGrid" dataSource="@secondaryContactsDS" enableAutoFill="true" columns="@secondaryContactsColumns"
                  dataBound="dataBound" commandClick="commandClick"
                  allowExcelExport="true" allowGrouping="true" allowPdfExport="true"
                  hierarchyPrintMode="All" allowSelection="true" allowFiltering="true"
                  allowSorting="true" allowMultiSorting="true" gridLines="Both"
                  toolbarClick="toolbarClick" toolbar="@(new List<object>() {"ExcelExport", "PdfExport", "CsvExport", "Print", "Search", "Delete", new { text = "Copy", tooltipText = "Copy", prefixIcon = "e-copy", id = "copy" }, new { text = "Copy With Header", tooltipText = "Copy With Header", prefixIcon = "e-copy", id = "copyHeader" } })"
                  allowPaging="true" allowResizing="true">

            <e-grid-editSettings showDeleteConfirmDialog="true" mode="Dialog" showConfirmDialog="true" allowAdding="false" allowDeleting="true" allowEditing="false" newRowPosition="Bottom"></e-grid-editSettings>
            <e-grid-selectionsettings type="Multiple"></e-grid-selectionsettings>
            <e-grid-pagesettings pageCount="5" pageSizes="@(new string[] { "5", "10" , "20", "All" })"></e-grid-pagesettings>
        </ejs-grid>

    </div>
</div>
