@page
@using Volo.Abp.Account.Settings
@using Volo.Abp.Settings
@inherits Volo.Abp.Account.Web.Pages.Account.AccountPage
@model CERP.Web.Pages.Account.CustomLoginModel
@inject Volo.Abp.Settings.ISettingProvider SettingProvider

@{
    ViewData["Title"] = "Log In";
}



@*<h2 class="m-t-0 m-b-5 text-center" style="font-weight:300">Login to your account</h2>*@
<hr />
<button type="button" class="google-button">
    <span class="google-button__icon">
        <svg viewBox="0 0 366 372" xmlns="http://www.w3.org/2000/svg"><path d="M125.9 10.2c40.2-13.9 85.3-13.6 125.3 1.1 22.2 8.2 42.5 21 59.9 37.1-5.8 6.3-12.1 12.2-18.1 18.3l-34.2 34.2c-11.3-10.8-25.1-19-40.1-23.6-17.6-5.3-36.6-6.1-54.6-2.2-21 4.5-40.5 15.5-55.6 30.9-12.2 12.3-21.4 27.5-27 43.9-20.3-15.8-40.6-31.5-61-47.3 21.5-43 60.1-76.9 105.4-92.4z" id="Shape" fill="#EA4335" /><path d="M20.6 102.4c20.3 15.8 40.6 31.5 61 47.3-8 23.3-8 49.2 0 72.4-20.3 15.8-40.6 31.6-60.9 47.3C1.9 232.7-3.8 189.6 4.4 149.2c3.3-16.2 8.7-32 16.2-46.8z" id="Shape" fill="#FBBC05" /><path d="M361.7 151.1c5.8 32.7 4.5 66.8-4.7 98.8-8.5 29.3-24.6 56.5-47.1 77.2l-59.1-45.9c19.5-13.1 33.3-34.3 37.2-57.5H186.6c.1-24.2.1-48.4.1-72.6h175z" id="Shape" fill="#4285F4" /><path d="M81.4 222.2c7.8 22.9 22.8 43.2 42.6 57.1 12.4 8.7 26.6 14.9 41.4 17.9 14.6 3 29.7 2.6 44.4.1 14.6-2.6 28.7-7.9 41-16.2l59.1 45.9c-21.3 19.7-48 33.1-76.2 39.6-31.2 7.1-64.2 7.3-95.2-1-24.6-6.5-47.7-18.2-67.6-34.1-20.9-16.6-38.3-38-50.4-62 20.3-15.7 40.6-31.5 60.9-47.3z" fill="#34A853" /></svg>
    </span>
    <span class="google-button__text">Sign in with Google</span>
</button>
@if (Model.EnableLocalLogin)
{
    <div class="card m-t-3 shadow-sm rounded">
        <div class="card-body p-t-15">
            @*@if (await SettingProvider.IsTrueAsync(AccountSettingNames.IsSelfRegistrationEnabled))
            {
                <strong>
                    @L["AreYouANewUser"]
                    <a href="@Url.Page("./Register", new {returnUrl = Model.ReturnUrl, returnUrlHash = Model.ReturnUrlHash})" class="text-decoration-none">@L["Register"]</a>
                </strong>
            }*@
            <form method="post" class="m-t-10">
                <input asp-for="ReturnUrl" />
                <input asp-for="ReturnUrlHash" />
                <div class="form-group">
                    <label class="control-label" asp-for="LoginInput.UserNameOrEmailAddress"></label>
                    <input asp-for="LoginInput.UserNameOrEmailAddress" class="form-control" />
                    <span asp-validation-for="LoginInput.UserNameOrEmailAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label" asp-for="LoginInput.Password"></label>
                    <input asp-for="LoginInput.Password" class="form-control" />
                    <span asp-validation-for="LoginInput.Password" class="text-danger"></span>
                </div>
                @*<div class="form-check">
                        <label asp-for="LoginInput.RememberMe" class="form-check-label">
                            <input asp-for="LoginInput.RememberMe" class="form-check-input" />
                            @Html.DisplayNa meFor(m => m.LoginInput.RememberMe)
                        </label>
                    </div>*@
                <div class="form-group">
                    <label class="custom-control custom-control-info custom-checkbox active" asp-for="LoginInput.RememberMe">
                        <input class="custom-control-input" style="display:none; visibility:hidden" type="checkbox" visible="false" name="mode" checked="checked" asp-for="LoginInput.RememberMe">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-label" style="z-index:-1">@Html.DisplayNameFor(m => m.LoginInput.RememberMe)</span>
                    </label>
                </div>
                <abp-button type="submit" button-type="Primary" name="Action" value="Login" class="btn btn-primary btn-block" style="height: 45px; font-size:20px; font-weight:400">@L["Login"]</abp-button>
            </form>
        </div>
    </div>
}

@if (Model.VisibleExternalProviders.Any())
{
    <div class="col-md-6">
        <h4>@L["UseAnotherServiceToLogIn"]</h4>
        <form asp-page="./Login" asp-page-handler="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" asp-route-returnUrlHash="@Model.ReturnUrlHash" method="post">
            <input asp-for="ReturnUrl" />
            <input asp-for="ReturnUrlHash" />
            @foreach (var provider in Model.VisibleExternalProviders)
            {
                <button type="submit" class="btn btn-primary" name="provider" value="@provider.AuthenticationScheme" title="@L["GivenTenantIsNotAvailable", provider.DisplayName]">@provider.DisplayName</button>
            }
        </form>
    </div>
}

@if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
{
    <div class="alert alert-warning">
        <strong>@L["InvalidLoginRequest"]</strong>
        @L["ThereAreNoLoginSchemesConfiguredForThisClient"]
    </div>
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@*<script>
    $(document).ready(function () {
        $.ajax({
            url: '@Url.Content("~")/Index?handler=UpdatePW',
            async: true,
            type: "GET",
            data: {  },
            success: function (data) {
                console.log(data);
                swal.fire('Success', 'User password changed', 'success')
            },
            error: function (data) {
                swal.fire('Failed', `Password couldn't be changed`, 'error');
            }
        });
    });
</script>*@