@page "/HR/OrganizationStructure/Skills"
@using CERP.Localization;
@using Microsoft.AspNetCore.Mvc.Localization;
@using CERP.App;
@using CERP;
@using CERP.HR.Setup.OrganizationalManagement.OrganizationStructure;
@inject IHtmlLocalizer<CERPResource> L
@inject Volo.Abp.Json.IJsonSerializer JsonSerializer
@using CERP.App.Helpers;
@using Syncfusion.EJ2.Navigations;

@model CERP.Web.Areas.HR.Setup.OrganizationalManagement.OrganizationStructure.Pages.Skills.ListModel
@{
    ViewData["IsEditing"] = false;
    bool IsEditing = (bool)ViewData["IsEditing"];

    ViewData["Title"] = L["Skills"].Value;
    ViewData["IconClass"] = "fas fa-check-circle";
    ViewData["HeaderTitle"] = L["Skills"].Value.ToUpper();
    ViewData["SubTitle"] = $"{L["ListOf"]} {L["Skills"]}";
    ViewData["Area"] = "Setup";

    ViewData["IsList"] = false;
    ViewData["IsCreate"] = false;
    string cNT = $"{L["Add"].Value} {L["Skill"].Value}";
    ViewData["CreateNewText"] = cNT;
    ViewData["CreateNewLink"] = "/Skills/Skill";

    string TabPlaceholder = (bool)ViewData["IsEditing"] ? L["Area"].Value : L["Step"].Value;

    var alertanimation = new Syncfusion.EJ2.Popups.DialogAnimationSettings { Effect = Syncfusion.EJ2.Popups.DialogEffect.None };

    var initialToolBar = new List<object>() { new { text = "Show Actions", tooltipText = "Actions", prefixIcon = "e-custom-show-actions", id = "showActions" }, "Search", "ColumnChooser" };
    var fullToolBar = new List<object>() { new { text = "Hide Actions", tooltipText = "Actions", prefixIcon = "e-custom-hide-actions", id = "hideActions" }, new { text = "Toggle Grouping", tooltipText = "Grouping", prefixIcon = "zmdi-chevron-up", id = "toggleGrouping" }, new { text = "Audit Trail", tooltipText = "View Audit Trail", prefixIcon = "e-toggleaudittrail", id = "toggleaudittrail" }, new { text = "Toggle Detailed", tooltipText = "Toggle Detailed", prefixIcon = "e-toggledetailed", id = "toggleDetailed" }, "ExcelExport", "CsvExport", "Print", "Search", new { text = "Copy", tooltipText = "Copy", prefixIcon = "e-copy", id = "copy" }, new { text = "Copy With Header", tooltipText = "Copy With Header", prefixIcon = "e-copy", id = "copyHeader" }, "ColumnChooser" };

    List<object> skillsCommands = new List<object>();
    skillsCommands.Add(new { type = "Edit", buttonOption = new { iconCss = "e-icons e-edit", cssClass = "e-flat" } });
    skillsCommands.Add(new { type = "Delete", buttonOption = new { iconCss = "e-icons e-delete", cssClass = "e-flat" } });
    skillsCommands.Add(new { type = "Cancel", buttonOption = new { iconCss = "e-icons e-cancel-icon", cssClass = "e-flat" } });

    List<OS_SkillAquisitionType> skillAquisitions = Enum.GetValues(typeof(OS_SkillAquisitionType)).Cast<OS_SkillAquisitionType>().ToList();
    List<OS_SkillType> skillTypes = Enum.GetValues(typeof(OS_SkillType)).Cast<OS_SkillType>().ToList();
    List<OS_SkillUpdatePeriod> updatePeriods = Enum.GetValues(typeof(OS_SkillUpdatePeriod)).Cast<OS_SkillUpdatePeriod>().ToList();

    List<DictionaryValue> institues = Model.DictionaryValuesRepo.Where(x => x.ValueType.ValueTypeFor == ValueTypeModules.AcademicInstitution).ToList();

    List<OS_ReviewPeriod> reviewPeriods = Enum.GetValues(typeof(OS_ReviewPeriod)).Cast<OS_ReviewPeriod>().ToList();

    List<object> referenceCommands = new List<object>();
    referenceCommands.Add(new { type = "Delete", buttonOption = new { iconCss = "e-icons e-delete", cssClass = "e-flat" } });
}

@section styles {
    @if ((bool)ViewData["IsEditing"])
    {
        <link href="~/libs/smartwizard/dist/css/smart_wizard_theme_circles.min.css" rel="stylesheet" />
    }

    <style>
        .customContentArea {
            position: unset !important;
        }
    </style>
}
@section scripts {

    <script>
        var isEditingSkills = false;
        var curSkillsEditRow;

        let skills = []
        let academia = []
        let compensationMatrices = []
        $(document).ready(function () {
            let options = {
                buttonWidth: '100%',
                includeSelectAllOption: true,
                enableFiltering: false,
                enableClickableOptGroups: true,
                includeResetOption: true,
                includeResetDivider: true,
                enableCollapsibleOptGroups: true
            };
            $('#reviewPeriod').multiselect(options);
            $('#updatePeriod').multiselect(options);
            $('#skillAquisition').multiselect(options);
            $('#skillType').multiselect(options);
            $('#skillSubType').multiselect(options);
            $('#compensationMatrixId').multiselect(options);

            let gridObj = $("#SkillsGrid")[0].ej2_instances[0];
            gridObj.showSpinner();
            $('#skillsLoader').slideDown(100);
            cERP.appServices.hR.organizationalManagement.organizationStructure.oS_SkillTemplate.getAllSkillTemplates().done(function (data) {
                $('#skillsLoader').slideUp(100);
                gridObj.hideSpinner();

                gridObj.dataSource = data;
                setTimeout(function () { gridObj.hideSpinner() }, 200);
            });

            cERP.appServices.hR.organizationalManagement.organizationStructure.oS_CompensationMatrixTemplate.getList({}).done(function (data) {
                compensationMatrices = data.items;

                let dataMS = [];
                for (let i = 0; i < data.items.length; i++) {
                    let item = data.items[i];
                    dataMS.push({ label: `${item.code} - ${item.name}`, value: item.id, data: item });
                }
                $('#compensationMatrixId').multiselect('dataprovider', dataMS);
            });

            $('#addSkillsBtn').on('click', function () {
                isEditingSkills = false;

                let tabs = $('#skillSpecificFormTabs')[0].ej2_instances[0];
                tabs.properties.items[1].visible = false;

                $('#submitSkillBtn').val('Create Skill');
            });
            $('#submitSkillBtn').on('click', function (e) {
                e.preventDefault();
                if (ValidateForm('skillSpecificForm')) {
                    gridObj.showSpinner();
                    Swal.showLoading();

                    let form = [];
                    let functionDetails = $('#skillSpecificForm').find("textarea, input, select").serializeArray();
                    form = form.concat(functionDetails);

                    let params = objectifyForm(form);

                    let id = 0;
                    if (gridObj.dataSource.length > 0)
                        id = gridObj.dataSource[gridObj.dataSource.length - 1].id;

                    params.isEditing = isEditingSkills;
                    params.DoesKPI = $('#doesKPI').parent().hasClass('active');

                    if (isEditingSkills) {
                        params.id = curSkillsEditRow.id;

                        //cERP.appServices.hR.leaveRequestTemplates.update()
                    }
                    else {

                        //cERP.appServices.hR.leaveRequestTemplates.update()
                    }

                    let formData = new FormData();
                    formData.append("info", JSON.stringify(params));
                    let xhrToken = $('input:hidden[name="__RequestVerificationToken"]').val();
                    formData.append("__RequestVerificationToken", xhrToken);
                    console.log(params);

                    $.ajax({
                        url: "?handler=SkillTemplate",
                        async: true,
                        type: "POST",
                        data: formData,
                        contentType: false,
                        processData: false,
                        success: function (data) {
                            Swal.hideLoading();
                            console.log(data);
                            if (isEditingSkills) {
                                gridObj.refresh(); // refresh the Grid.

                                swal.fire("Success", "Skill has successfully been updated", "success");

                                for (let i = 0; i < gridObj.dataSource.length; i++) {
                                    if (gridObj.dataSource[i].id == data.id) {
                                        gridObj.dataSource[i] = data;
                                    }
                                }
                                gridObj.refresh();
                            }
                            else {
                                gridObj.dataSource.push(data);

                                gridObj.refresh(); // refresh the Grid.

                                swal.fire("Success", "Skill has successfully been added", "success");
                            }
                            gridObj.hideSpinner();
                        },
                        error: function (err) {
                            Swal.hideLoading();
                            if (isEditingSkills)
                                swal.fire("Failed", "Skill couldn't be updated, please fix all errors and try again.", "error");
                            else
                                swal.fire("Failed", "Skill couldn't be added, please fix all errors and try again.", "error");

                            console.log(err);
                            gridObj.hideSpinner();
                        }
                    });
                }
                else {
                    Swal.close();
                    Swal.hideLoading();
                }
            });
        });
    </script>
}
<partial name="_DefaultPageHeader" />
<div class="site-content customContentArea">
    <div class="control-section">
        <div class="areaHeader" style="display:flex;">
            <div id="skillsLoader" class="pull-left loader-inline" style="display:none"></div>
            <div class="areaHeaderTitle">
                <span id="areHeadertitle" class="areaHeaderTitleNode menu-text">Current Skills</span>
                @*<span id="" class="areaHeaderTitleInNode menu-text"> > </span>*@
                @*<span id="subTitle" class="menu-text" style="padding-left:15px; font-size: 28px; font-family:Roboto; font-weight:200;">@ViewData["SubTitle"]</span>*@
            </div>
            @*<h3 class="control-label" style="flex-grow: 1; margin:0">Approval Route</h3>*@
            <div class="pull-right text-right p-r-20 areaHeaderBtnSec">
                @*<div class="clearfix margin-15"></div>*@
                <a id="addSkillsBtn" onclick="areaHeaderBtnClick(event); isEditingSkills = false;" class="btn btn-outline-dark areaHeaderBtn"><i class="fa fa-plus fa-fw"></i> Add New</a>
            </div>
        </div>
        <form id="skillsForm" onkeydown="return event.key != 'Enter';" class="row areaForm" method="post" data-toggle="validator" style="display: none; margin:0; padding:20px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05), 0 0px 10px 0px rgba(0, 0, 0, 0.05);">
            <div id="skillSpecificForm">
                <ejs-tab id="skillSpecificFormTabs" animation="ViewBag.animation" height="250px">
                    <e-tab-tabitems>
                        <e-tab-tabitem header="@(new TabHeader { Text = "General" })" content="#generalTab"></e-tab-tabitem>
                        <e-tab-tabitem header="@(new TabHeader { Text = "References" })" visible="false" content="#referencesTab"></e-tab-tabitem>
                    </e-tab-tabitems>
                </ejs-tab>
                <div id="generalTab" class="areaForm">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label class="margin-bottom-5 control-label">Skill Code:</label>
                                <input type="text" id="skillCode" name="Code" @* value = "@(empInfo!=null? empInfo.EMAIL : "")"*@ class="form-control" required>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                            <div class="col-sm-6" style="padding:0">
                                <div class="form-group">
                                    <label class="control-label m-b-5 ">Title:</label>
                                    <input type="text" id="skillTitle" name="Name" @* value = "@(empInfo!=null? empInfo.EMAIL : "")"*@ class="form-control " required>
                                </div>
                            </div>
                            <div class="col-sm-6" style="padding:0">
                                <div class="form-group">
                                    <label class="control-label m-b-5 ">Title (In Arabic):</label>
                                    <input type="text" id="skillTitleLocalized" name="NameLocalized" @* value = "@(empInfo!=null? empInfo.EMAIL : "")"*@ class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label class="margin-bottom-5 control-label">Skill Description:</label>
                                <input type="text" id="skillDescription" name="Description" @* value = "@(empInfo!=null? empInfo.EMAIL : "")"*@ class="form-control" required>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label class="margin-bottom-5 control-label">Aquisition:</label>
                                <select id="skillAquisition" name="SkillAquisitionType" class="form-control" required>
                                    @for (int i = 0; i < skillAquisitions.Count; i++)
                                    {
                                        <option value="@((int)skillAquisitions[i])">@EnumExtensions.GetDescription(skillAquisitions[i])</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12" style="padding: 0">
                                <div class="form-group">
                                    <label class="margin-bottom-5 control-label">Type:</label>
                                    <select id="skillType" name="SkillType" class="form-control" required>
                                        @for (int i = 0; i < skillTypes.Count; i++)
                                        {
                                            <option value="@((int)skillTypes[i])">@EnumExtensions.GetDescription(skillTypes[i])</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12" style="padding: 0">
                                <div class="form-group">
                                    <label class="margin-bottom-5 control-label">Sub Type:</label>
                                    <select id="skillSubType" name="SkillSubTypeId" class="form-control" required>
                                        @for (int i = 0; i < institues.Count; i++)
                                        {
                                            <option value="@institues[i].Id" data-value="@institues[i].Value">@institues[i].Value</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                            <div class="col-md-12 col-sm-12" style="padding: 0">
                                <div class="form-group">
                                    <label class="control-label m-b-5 "></label>
                                    <div class="btn-group" data-toggle="buttons" style="width: 100%">
                                        <label class="btn btn-default" style="width: 100%">
                                            <input type="checkbox" id="doesKPI" name="DoesKPI" autocomplete="off" style="width: 100%"> Perform KPI
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-12">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12" style="padding:0">
                                <div class="form-group">
                                    <label class="margin-bottom-5 control-label">Update Period:</label>
                                    <select id="updatePeriod" name="SkillUpdatePeriod" class="form-control" required>
                                        @for (int i = 0; i < updatePeriods.Count; i++)
                                        {
                                            <option value="@((int)updatePeriods[i])">@EnumExtensions.GetDescription(updatePeriods[i])</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                <div id="reviewPeriodTypeField" class="col-sm-12" style="padding:0">
                                    <div class="form-group">
                                        <label class="margin-bottom-5 control-label">Review Period:</label>
                                        <select id="reviewPeriod" name="ReviewPeriod" onchange="
                                                if (typeof $('option:selected', '#reviewPeriod').attr('data-value') !== 'undefined' && $('option:selected', '#reviewPeriod').attr('data-value').includes('Day')) {
                                                    $('#reviewPeriodTypeField').removeClass('col-sm-12');
                                                    $('#reviewPeriodTypeField').addClass('col-sm-6');
                                                    setTimeout(function () {
                                                        $('#reviewPeriodDaysField').slideDown(0);
                                                    }, 520);
                                                } else {
                                                    $('#reviewPeriodDaysField').slideUp(0);
                                                    $('#reviewPeriodTypeField').removeClass('col-sm-6');
                                                    $('#reviewPeriodTypeField').addClass('col-sm-12');
                                                }
                                            " class="form-control" required>
                                            @for (int i = 0; i < reviewPeriods.Count; i++)
                                            {
                                                <option value="@((int)reviewPeriods[i])" data-value="@EnumExtensions.GetDescription(reviewPeriods[i])">@EnumExtensions.GetDescription(reviewPeriods[i])</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div id="reviewPeriodDaysField" class="col-sm-6" style="display:none; padding:0">
                                    <div class="form-group">
                                        <label class="margin-bottom-5 control-label">Period Days:</label>
                                        <input type="number" min="0" id="reviewPeriodDays" name="ReviewPeriodDays" value="0" @* value = "@(empInfo!=null? empInfo.EMAIL : "")"*@ class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-12">
                            <div class="form-group">
                                <label class="margin-bottom-5 control-label">Compensation Matrix:</label>
                                <select id="compensationMatrixId" name="CompensationMatrixId" class="form-control" required>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="referencesTab" class="areaForm" style="display:none">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel-body p-t-0" style="">
                                <div id="referencesCS" class="control-section">
                                    <ejs-grid id="ReferenceReferenceGrid" enableAutoFill="true" dataBound="dataBoundResponsive"
                                              allowExcelExport="true" height="100%" allowPdfExport="true" allowReordering="true"
                                              hierarchyPrintMode="Expanded" allowSelection="true" allowFiltering="true"
                                              allowSorting="true" allowMultiSorting="true" gridLines="Horizontal" dataSource="new List<dynamic>()"
                                              toolbar="@initialToolBar" toolbarClick="defaultToolbarClick"
                                              allowPaging="true" allowResizing="true">

                                        <e-grid-columns>
                                            <e-grid-column field="id" headerText="Id" textAlign="Center" visible="false" isPrimaryKey="true" showInColumnChooser="false"></e-grid-column>
                                            <e-grid-column field="type" allowEditing="false" headerText="Type" textAlign="Center"></e-grid-column>
                                            <e-grid-column field="name" allowEditing="false" headerText="Name" textAlign="Center"></e-grid-column>
                                            <e-grid-column field="code" allowEditing="false" headerText="Code" textAlign="Center"></e-grid-column>
                                            @*<e-grid-column headerText="Actions" textAlign="Center" commands="referenceCommands"></e-grid-column>*@
                                        </e-grid-columns>

                                        <e-grid-filterSettings type="CheckBox"></e-grid-filterSettings>
                                        <e-grid-editSettings showDeleteConfirmDialog="true" showConfirmDialog="true" allowAdding="true" allowDeleting="true" allowEditing="true"></e-grid-editSettings>
                                        <e-grid-selectionsettings type="Multiple"></e-grid-selectionsettings>
                                        <e-grid-pagesettings pageCount="5" pageSizes="@(new string[] { "5", "10" , "20", "All" })"></e-grid-pagesettings>
                                    </ejs-grid>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="control-label m-b-5 "></label>
                        <input id="submitSkillBtn" type="button" class="btn btn-success btn-block" value="Create Skill" required />
                    </div>
                </div>
            </div>
        </form>
        <div id="skillsCS" class="control-section">
            <ejs-grid id="SkillsGrid" enableAutoFill="true" dataBound="dataBoundResponsive" commandClick="commandClick"
                      showColumnChooser="true" allowExcelExport="true" height="100%" allowPdfExport="true" allowReordering="true"
                      hierarchyPrintMode="Expanded" allowSelection="true" allowFiltering="true" actionBegin="skillActionBegin" actionComplete="skillActionComplete"
                      allowSorting="true" allowMultiSorting="true" gridLines="Horizontal" allowTextWrap="true" textWrapSettings="@(new Syncfusion.EJ2.Grids.GridTextWrapSettings() { WrapMode = Syncfusion.EJ2.Grids.WrapMode.Header })"
                      toolbarClick="toolbarClick" toolbar="@initialToolBar"
                      allowPaging="true" allowResizing="true">

                <e-grid-columns>
                    <e-grid-column field="id" headerText="Id" isPrimaryKey="true" textAlign="Center" visible="false" showInColumnChooser="false"></e-grid-column>
                    <e-grid-column headerText="Name" textAlign="Center" columns='new List<Syncfusion.EJ2.Grids.GridColumn>() {
                        new Syncfusion.EJ2.Grids.GridColumn() { Field= "name", HeaderText = "English", TextAlign = Syncfusion.EJ2.Grids.TextAlign.Center },
                        new Syncfusion.EJ2.Grids.GridColumn() { Field= "nameLocalized", HeaderText = "Local", TextAlign = Syncfusion.EJ2.Grids.TextAlign.Center }
                    }'></e-grid-column>
                    <e-grid-column field="code" headerText="Code" textAlign="Center"></e-grid-column>
                    <e-grid-column field="description" headerText="Description" allowEditing="true" textAlign="Center"></e-grid-column>
                    <e-grid-column field="doesKPI" headerText="Perform KPI" displayAsCheckBox="true" editType="booleanedit" allowEditing="true" textAlign="Center"></e-grid-column>
                    <e-grid-column field="skillAquisitionTypeDescription" headerText="Aquisition" textAlign="Center"></e-grid-column>
                    <e-grid-column field="skillTypeDescription" headerText="Type" textAlign="Center"></e-grid-column>
                    <e-grid-column field="skillSubType.value" headerText="Sub Type" textAlign="Center"></e-grid-column>
                    <e-grid-column field="skillUpdatePeriodDescription" headerText="Update Period" textAlign="Center"></e-grid-column>
                    <e-grid-column field="compensationMatrix.name" headerText="Compensation Matrix" textAlign="Center"></e-grid-column>
                    <e-grid-column field="reviewPeriodDescription" headerText="Review period" textAlign="Center"></e-grid-column>

                    <e-grid-column headerText="Actions" textAlign="Center" commands="skillsCommands"></e-grid-column>
                </e-grid-columns>

                <e-grid-filterSettings type="CheckBox"></e-grid-filterSettings>
                <e-grid-editSettings showDeleteConfirmDialog="true" showConfirmDialog="true" allowAdding="true" allowDeleting="true" allowEditing="false"></e-grid-editSettings>
                <e-grid-selectionsettings type="Multiple"></e-grid-selectionsettings>
                <e-grid-pagesettings pageCount="5" pageSizes="@(new string[] { "5", "10" , "20", "All" })"></e-grid-pagesettings>
            </ejs-grid>
        </div>
        <div id="auditTrail" style="display:none;">
            @*<partial name="_DataAuditTrailPartialView" model="@Model.GetDataAuditTrailModel()" />*@
        </div>
    </div>

</div>
<ejs-dialog id="alert_dialog" animationSettings="alertanimation" visible="false" target=".control-section" width="300px" header="Copy with Header" content="Atleast one row should be selected to copy with header">
    <e-dialog-buttons>
        <e-dialog-dialogbutton buttonModel="@ViewData["alertbutton"]" click="alertBtnClick"></e-dialog-dialogbutton>
    </e-dialog-buttons>
</ejs-dialog>
<ejs-dialog id="alert_dialog_1" animationSettings="alertanimation" visible="false" target=".control-section" width="300px" header="Copy" content="Atleast one row should be selected to copy">
    <e-dialog-buttons>
        <e-dialog-dialogbutton buttonModel="@ViewData["alertbutton"]" click="alertBtnClick"></e-dialog-dialogbutton>
    </e-dialog-buttons>
</ejs-dialog>

<script>
    function loadPositionStatusesDropdown() {

    }

    let isAuditTrail = false;

    function alertBtnClick() {
        let dialogObj = document.getElementById('alert_dialog').ej2_instances[0];
        let dialogObj1 = document.getElementById('alert_dialog_1').ej2_instances[0];
        dialogObj.hide();
        dialogObj1.hide();
    }
    function toolbarClick(args) {
        let gridObj = document.getElementById("SkillsGrid").ej2_instances[0];

        if (args.item.id === 'SkillsGrid_pdfexport') {
            gridObj.pdfExport();
        }
        if (args.item.id === 'SkillsGrid_excelexport') {
            gridObj.excelExport();
        }
        if (args.item.id === 'SkillsGrid_csvexport') {
            gridObj.csvExport();
        }
        if (this.getSelectedRecords().length > 0) {
            let withHeader = false;
            if (args.item.id === 'copyHeader') {
                withHeader = true;
            }
            this.copy(withHeader);
        }
        else {
            if (args.item.id === 'copyHeader') {
                let dialogObj = document.getElementById('alert_dialog').ej2_instances[0];
                dialogObj.show();
            }
            else if (args.item.id === 'copy') {
                let dialogObj = document.getElementById('alert_dialog_1').ej2_instances[0];
                dialogObj.show();
            }
        }
        if (args.item.id === 'showActions') {
            gridObj.toolbar = [{ text: "Hide Actions", tooltipText: "Actions", prefixIcon: "e-custom-hide-actions", id: "hideActions" }, { text: "Toggle Grouping", tooltipText: "Grouping", prefixIcon: "e-custom-group-toggle", id: "toggleGrouping" }, { text: "Audit Trail", tooltipText: "View Audit Trail", prefixIcon: "e-custom-audit-trail", id: "toggleaudittrail" }, { text: "Toggle Detailed", tooltipText: "Toggle Detailed", prefixIcon: "e-toggledetailed", id: "toggleDetailed" }, "ExcelExport", "PdfExport", "CsvExport", "Print", "Search", { text: "Copy", tooltipText: "Copy", prefixIcon: "e-copy", id: "copy" }, { text: "Copy With Header", tooltipText: "Copy With Header", prefixIcon: "e-copy", id: "copyHeader" }, "ColumnChooser"];
            gridObj.refresh();
        }
        if (args.item.id === 'hideActions') {
            gridObj.toolbar = [{ text: "Show Actions", tooltipText: "Actions", prefixIcon: "e-custom-show-actions", id: "showActions" }, "Search", "ColumnChooser"];
            gridObj.showColumnChooser = true;
            gridObj.refresh();
        }
        if (args.item.id === 'toggleGrouping') {
            gridObj.allowGrouping = !gridObj.allowGrouping;
            gridObj.refresh();
        }
        if (args.item.id === 'toggleDetailed') {
            let visCount = 0;
            for (let i = 0; i < gridObj.columns.length; i++) {
                if (gridObj.columns[i].visible) visCount++;
            }
            if (visCount == gridObj.columns.length) {
                for (let i = 0; i < gridObj.columns.length; i++) {
                    let col = gridObj.columns[i];
                    if (typeof col.customAttributes != 'undefined' && typeof col.customAttributes.id != 'undefined' && col.customAttributes.id == 'detailed')
                        gridObj.showHider.hide(col.headerText, 'headerText');
                    else if (col.showInColumnChooser)
                        gridObj.showHider.show(col.headerText, 'headerText');
                }
            }
            else {
                for (let i = 0; i < gridObj.columns.length; i++) {
                    let col = gridObj.columns[i];
                    if (col.showInColumnChooser)
                        gridObj.showHider.show(col.headerText, 'headerText');
                }
            }
        }
        if (args.item.id === 'toggleaudittrail') {

            if (!isAuditTrail) {
                var agtGrid = $("#AuditTrailGrid")[0].ej2_instances[0];
                gridObj.showSpinner();

                $.ajax({
                    url: '?handler=DataAuditTrail',
                    async: true,
                    type: "GET",
                    data: {},
                    success: function (data) {
                        gridObj.hideSpinner();

                        //agtGrid.childGrid.childGrid.dataSource = data.tertiaryDS;
                        //agtGrid.childGrid.dataSource = data.secondaryDS;
                        agtGrid.dataSource = data.ds;
                        agtGrid.refresh();

                        $(".customContentArea").css('position', 'unset');
                        $("#auditTrail").slideDown(200);
                    },
                    error: function (data) {
                        gridObj.hideSpinner();

                        $(".customContentArea").css('position', 'absolute');
                        $("#auditTrail").slideUp(200);

                        swal.fire('Failed', `An error occured while generating the audit trail`, 'error');
                    }
                });

            }
            else {
                $(".customContentArea").css('position', 'absolute');
                $("#auditTrail").slideUp(200);
            }

            isAuditTrail = !isAuditTrail;
        }
        setTimeout(function () { gridObj.hideSpinner() }, 200);
    }
    function commandClick(args) {
        let gridObj = document.getElementById("SkillsGrid").ej2_instances[0];
        if (args.commandColumn.type == "Edit") {
            isEditingSkills = true;
            let params = args.rowData;
            curSkillsEditRow = params;

            toggleAreaFormBtn('skillsForm', false);

            setTimeout(function () {
                $('#submitSkillBtn').val('Update Skill');
                toggleAreaFormBtn('skillsForm', true);
            }, 200);

            FillFormByObject(params, $('#skillsForm'));
            $('#skillsLoader').slideDown(100);
            cERP.appServices.hR.organizationalManagement.organizationStructure.oS_SkillTemplate.get(params.id).done(function (data) {
                $('#skillsLoader').slideUp(100);

                $('#skillAquisition').multiselect('select', params.skillAquisition);
                $('#skillType').multiselect('select', params.skillType);
                $('#skillSubType').multiselect('select', params.skillSubType);

                $('#doesKPI').parent().removeClass('active');
                if (params.doesKPI) $('#doesKPI').parent().addClass('active');

                $('#updatePeriod').multiselect('select', params.updatePeriod);

                $('#compensationMatrixId').multiselect('select', params.compensationMatrixTemplateId);
            });
            let tabs = $('#skillSpecificFormTabs')[0].ej2_instances[0];
            tabs.properties.items[1].visible = true;
            cERP.appServices.hR.organizationalManagement.organizationStructure.oS_SkillTemplate.getAllReferences(params.id).done(function (data)
            {

                let refGrid = $('#ReferenceReferenceGrid')[0].ej2_instances[0];
                refGrid.dataSource = data;
                refGrid.refresh();

                setTimeout(function () { refGrid.hideSpinner() }, 200);
            });
        }
        else if (args.commandColumn.type == "Copy") {
            this.copy(false);
        }

        setTimeout(function () { gridObj.hideSpinner() }, 200);
    }
    function skillActionComplete(args) {
        let gridObj = document.getElementById("SkillsGrid").ej2_instances[0];
        setTimeout(function () { gridObj.hideSpinner() }, 200)
    }
    function skillActionBegin(args) {
        if (args.requestType == "delete") {
            let gridObj = document.getElementById("SkillsGrid").ej2_instances[0];
            Swal.showLoading();

            let formData = new FormData();
            formData.append("skills", JSON.stringify(args.data));
            let xhrToken = $('input:hidden[name="__RequestVerificationToken"]').val();
            formData.append("__RequestVerificationToken", xhrToken);

            $.ajax({
                url: '?handler=SkillTemplate',
                async: true,
                type: "DELETE",
                data: formData,
                contentType: false,
                processData: false,
                success: function (data) {
                    gridObj.hideSpinner();
                    swal.fire("Success", "Skill(s) has successfully been deleted", "success");

                    if ($('#skillsForm').css('display') !== 'none') {
                        $('#skillsForm').slideUp();
                    }
                },
                error: function (err) {
                    gridObj.hideSpinner();
                    swal.fire("Failed", "Skill(s) couldn't be deleted, please fix all errors and try again.", "error");

                    console.log(err);
                }
            });
            setTimeout(function () { gridObj.hideSpinner() }, 200);
        }
    }
</script>

