@using CERP;
@using CERP.App;
@using CERP.HR.EMPLOYEE.DTOs;
@using Volo.Abp.Domain.Repositories;
@{
    //var dbContext = new VTX_ERP.Models.DAL.VTX_ERPEntities();
    TimesheetWeekSummary_Dto currentWeekSheetInfo = Model.CurrentWeeksheet;
    int recId = currentWeekSheetInfo.Id;
    var weeks = currentWeekSheetInfo.WeeklyJobSummaries.ToList();

    //var codes = dbContext.CODES_VIEW.ToList();
    //var clients = dbContext.CONTACTS_VIEWS.Where(c => c.CONTACT_TYPE_ID == 1).OrderBy(c => c.CONTACT_NAME);
    //var engagments = dbContext.ENGAGEMENT_VIEW.OrderBy(c => c.ENGAGEMENT_NAME);

    IRepository<DictionaryValue, Guid> DicValuesRepo = Model.DicValuesRepo;
    List<DictionaryValue> serviceCategories = DicValuesRepo.Where(x => x.ValueType.ValueTypeFor == ValueTypeModules.ServiceCategory).ToList();
    List<DictionaryValue> ServiceLineChargeables = DicValuesRepo.Where(x => x.ValueType.ValueTypeFor == ValueTypeModules.ServiceLineChargeables).ToList();
    List<DictionaryValue> ServiceLineNonChargeables = DicValuesRepo.Where(x => x.ValueType.ValueTypeFor == ValueTypeModules.ServiceLineNonChargeables).ToList();
    List<DictionaryValue> ServiceLineAdmins = DicValuesRepo.Where(x => x.ValueType.ValueTypeFor == ValueTypeModules.ServiceLineAdmins).ToList();
    List<DictionaryValue> clients = DicValuesRepo.Where(x => x.ValueType.ValueTypeFor == ValueTypeModules.Clients).ToList();

    bool _allowEdit = Convert.ToBoolean(currentWeekSheetInfo.IsSubmitted) == false;

    //bool isAdmin = (new VTX_ERP.Repository.GeneralHelper().GetUserPermission("").IsAdmin);
    //if (!isAdmin)
    //{
    //    _allowEdit = true;
    //}

}

<form id="frmTimeSheet" class="@(_allowEdit?"":"disabled")">
    <div id="divMaster">
        <input type="hidden" name="REC_ID" id="REC_ID" value="@(currentWeekSheetInfo.Id)" />
        <input type="hidden" name="YEAR_ID" id="YEAR_ID" value="@(currentWeekSheetInfo.Year)" />
        <input type="hidden" name="MONTH_ID" id="MONTH_ID" value="@(currentWeekSheetInfo.Month)" />
        <input type="hidden" name="WEEK_ID" id="WEEK_ID" value="@(currentWeekSheetInfo.Week)" />
        <input type="hidden" name="EMP_ID" id="EMP_ID" value="@(currentWeekSheetInfo.EmployeeId)" />
        <input type="hidden" name="IS_SUBMITTED" id="IS_SUBMITTED" value="@(Convert.ToString(currentWeekSheetInfo.IsSubmitted))" />
    </div>

    <div class="well" style="background-color: white">
        <div class="row">
            <h2 class="m-t-0 col-sm-8 col-xs-12  panelHeading">
                Hours Detail
            </h2>
            <div class="col-sm-4  col-xs-12 text-right ">
                @if (_allowEdit)
                {
                    <button type="submit" class="btn btn-primary margin-0"><i class="fa fa-save fa-fw"></i> Save</button>
                }
            </div>
        </div>
        <div>
            <hr class="margin-top-5 margin-bottom-10">

            <div id="divweeks" class="table-responsive">
                <table id="tblTimeSheet" class="table table-bordered margin-0">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th width="70px">Chargeable<br />/ Not chargeable</th>
                            <th width="70px">Service Line or <br />No chargeable</th>
                            <th width="90px">Client</th>
                            @*<th width="100px">Engagement</th>*@
                            <th>Sun</th>
                            <th>Mon</th>
                            <th>Tue</th>
                            <th>Wed</th>
                            <th>Thu</th>
                            <th>Fri</th>
                            <th>Sat</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < weeks.Count + 3; i++)
                        {

                            TimesheetWeekJobSummary_Dto lineItem = new TimesheetWeekJobSummary_Dto();
                            if (i < weeks.Count)
                            {
                                lineItem = weeks[i];
                            }

                            var isChargeable = (lineItem != null ? lineItem.IsChargeable : false);
                            <tr data-id="@lineItem.Id">
                                <td width="20px">
                                    <input type="text" id="SRNO" class="form-control input-sm" value="@(i+1)" disabled />
                                    <input type="hidden" id="LINE_ID" name="LINE_ID" value="@(lineItem != null ? lineItem.Id : 0)" />


                                </td>
                                <td>
                                    <select id="IS_CHARGEABLE" name="IS_CHARGEABLE" class="form-control input-sm">
                                        <option></option>
                                        @foreach (var item in serviceCategories)
                                        {
                                            @: <option @(lineItem.ChargeabilityId == item.Id ? "selected" : "") value="@item.Id" data-type="@item.ValueTypeId" data-code="@item.Key" data-value="@item.Value" > @item.Value </option>
                                            
                                        }

                                        @*<option value="true" @(lineItem != null ? (lineItem.IS_CHARGEABLE == true ? "selected" : "") : "")>Chargeable</option>
                                            <option value="false" @(lineItem != null ? (lineItem.IS_CHARGEABLE == false ? "selected" : "") : "")>Non_Chargeable</option>*@
                                    </select>
                                </td>
                                <td>
                                    <select id="SERVICE_LINE_ID" name="SERVICE_LINE_ID" class="form-control input-sm">
                                        <option></option>

                                        @foreach (var item in ServiceLineChargeables)
                                        {
                                            @: <option @(lineItem.ServiceLineId == item.Id ? "selected" : "") value="@item.Id"
                                            @:        data-type="@item.ValueTypeId"
                                            @:        data-cat="@serviceCategories.First(x => x.Value.Contains("Chargeable") && !x.Value.Contains("Non")).Id"
                                            @:        >
                                            @:    @item.Value
                                            @:   </option>
                                        }

                                        @foreach (var item in ServiceLineNonChargeables)
                                        {
                                            @: <option @(lineItem.ServiceLineId == item.Id ? "selected" : "") value="@item.Id"
                                            @:         data-type="@item.ValueTypeId"
                                            @:         data-cat="@serviceCategories.First(x => x.Value.Contains("Chargeable") && x.Value.Contains("Non")).Id">
                                            @:     @item.Value
                                            @: </option>
                                        }

                                        @foreach (var item in ServiceLineAdmins)
                                        {
                                            @: <option @(lineItem.ServiceLineId == item.Id ? "selected" : "") value="@item.Id"
                                            @:         data-type="@item.ValueTypeId"
                                            @:         data-cat="@serviceCategories.First(x => x.Value.Contains("Admin")).Id"
                                            @:         >
                                            @:     @item.Value
                                            @: </option>
                                        }

                                    </select>
                                </td>
                                <td>
                                    <select id="CLIENT_ID" name="CLIENT_ID" class="form-control input-sm">
                                        <option></option>
                                        @foreach (var item in clients)
                                        {
                                            @: <option @(lineItem.ClientId == item.Id? "selected" : "") value="@item.Id")>
                                            @:     @item.Value
                                            @: </option>
                                        }

                                    </select>
                                </td>
                                @*<td>
                                    <select id="ENGAGEMENT_ID" name="ENGAGEMENT_ID" class="form-control input-sm">
                                        <option></option>

                                        @foreach (var item in engagments)
                                                {
                                            <option value="@item.ENGAGEMENT_ID" @(lineItem != null && lineItem.ENGAGEMENT_ID == item.ENGAGEMENT_ID ? "selected" : "hidden") data-type="@item.CLIENT_ID">
                                                @item.REF_NO - @item.ENGAGEMENT_NAME
                                            </option>
                                                }

                                    </select>
                                </td>*@
                                <td><input id="SUN" name="SUN" type="number" step="any" class="form-control input-sm" min="0" max="24" value="@(lineItem != null ? lineItem.Sun : 0)" /></td>
                                <td><input id="MON" name="MON" type="number" step="any" class="form-control input-sm" min="0" max="24" value="@(lineItem != null ? lineItem.Mon : 0)" /></td>
                                <td><input id="TUE" name="TUE" type="number" step="any" class="form-control input-sm" min="0" max="24" value="@(lineItem != null ? lineItem.Tue : 0)" /></td>
                                <td><input id="WED" name="WED" type="number" step="any" class="form-control input-sm" min="0" max="24" value="@(lineItem != null ? lineItem.Wed : 0)" /></td>
                                <td><input id="THU" name="THU" type="number" step="any" class="form-control input-sm" min="0" max="24" value="@(lineItem != null ? lineItem.Thu : 0)" /></td>
                                <td><input id="FRI" name="FRI" type="number" step="any" class="form-control input-sm" min="0" max="24" value="@(lineItem != null ? lineItem.Fri : 0)" /></td>
                                <td><input id="SAT" name="SAT" type="number" step="any" class="form-control input-sm" min="0" max="24" value="@(lineItem != null ? lineItem.Sat : 0)" /></td>
                                <td><input id="TOTAL" name="TOTAL" type="number" step="any" class="form-control input-sm" min="0" readonly value="@(lineItem != null ? lineItem.TotalJobWeekHours : 0)" /></td>
                                <td>
                                    @if (_allowEdit)
                                    {
                                        <button type="button" id="delete" name="delete" class="btn btn-block btn-danger"><i class="fa fa-times"></i></button>
                                    }
                                </td>
                            </tr>

                        }


                    </tbody>
                    <tfoot>
                        <tr class="trSum">
                            <td colspan="4"><input type="text" value="Total:" class="form-control  input-sm" readonly style="text-align:right !important; font-weight:bold; padding-right:10px" /></td>
                            <td><input id="SUM_SUN" max="24" name="SUM_SUN" type="number" step="any" class="form-control input-sm" value="@(weeks.Sum(c=>c.Sun))" /></td>
                            <td><input id="SUM_MON" max="24" name="SUM_MON" type="number" step="any" class="form-control input-sm" value="@(weeks.Sum(c=>c.Mon))" /></td>
                            <td><input id="SUM_TUE" max="24" name="SUM_TUE" type="number" step="any" class="form-control input-sm" value="@(weeks.Sum(c=>c.Tue))" /></td>
                            <td><input id="SUM_WED" max="24" name="SUM_WED" type="number" step="any" class="form-control input-sm" value="@(weeks.Sum(c=>c.Wed))" /></td>
                            <td><input id="SUM_THU" max="24" name="SUM_THU" type="number" step="any" class="form-control input-sm" value="@(weeks.Sum(c=>c.Thu))" /></td>
                            <td><input id="SUM_FRI" max="24" name="SUM_FRI" type="number" step="any" class="form-control input-sm" value="@(weeks.Sum(c=>c.Fri))" /></td>
                            <td><input id="SUM_SAT" max="24" name="SUM_SAT" type="number" step="any" class="form-control input-sm" value="@(weeks.Sum(c=>c.Sat))" /></td>
                            <td><input id="SUM_TOTAL" name="SUM_TOTAL" type="number" step="any" class="form-control input-sm" readonly value="@(weeks.Sum(c=>c.TotalJobWeekHours))" /></td>
                            <td><input type="text" readonly value="" class="form-control input-sm" /></td>
                        </tr>
                    </tfoot>
                </table>

                <div class="margin-top-10">
                    <button type="button" onclick="newRow(1)" class="btn btn-default btn-sm border-radius-5">Add Row</button>
                    <button type="button" onclick="newRow(3)" class="btn btn-default btn-sm border-radius-5">Add 3 Rows</button>
                    <button type="button" onclick="newRow(5)" class="btn btn-default btn-sm border-radius-5">Add 5 Rows</button>
                </div>
            </div>
        </div>
    </div>


    <div id="divSubmit" class="well @(Convert.ToInt32(currentWeekSheetInfo.TotalWeekHours)>0?"":"hidden")">
        <div class="row">
            <div class="col-sm-8 col-xs-12  panelHeading">
                Submit Timesheet
            </div>
            <div class="col-sm-4  col-xs-12 text-right ">

            </div>
        </div>
        <div>
            <hr class="margin-top-5 margin-bottom-10">
            <div class="row">
                <div class="col-md-6">
                    <textarea id="DESCRIPTION" name="DESCRIPTION" maxlength="50" class="form-control" placeholder="Enter your remarks...">@currentWeekSheetInfo.Description</textarea>
                    @*<span class="txt-color-gray">@(timesheetInfo.SUBMITTED_DATE)</span>*@
                </div>
            </div>
            <div class="m-t-10"></div>
            @if (_allowEdit)
            {
                <a href="javascript:void(0)" id="lnkSubmit" class="btn btn-primary margin-0"><i class="fa fa-check fa-fw"></i> Submit</a>
            }
        </div>
    </div>
</form>


<script>
    $(document).ready(function () {
        setFirstRowValidation();
        bindCalcFn();
    });

    function setFirstRowValidation() {
        $("#tblTimeSheet tbody tr").find('input,select,textarea').removeAttr('required');
        $('form.disabled').find('input,select,textarea').attr('disabled', 'disabled');
        $("#tblTimeSheet tbody tr:first").find('select').not('#CLIENT_ID,#ENGAGEMENT_ID').attr('required', 'required');
        $("#tblTimeSheet tfoot tr.trSum").find('input').keypress(function () { return false; })

    }

    function isValidated() {
        var isOk = 1;
        return isOk;
    }

    function setServiceLineValidation() {

        $('#frmTimeSheet input, #frmTimeSheet select').on('change', function (e) {
            var tr = $(this).parent().parent();
            var thisId = $(this).attr('id');
            var thisVal = $(this).val();
            var thisValue = $('option:selected', this).attr('data-value');
            var thisParent = $(this).parent().parent();
            var inputName = this.id;

            var CLIENT_ID = tr.find('#CLIENT_ID').val();

            //------------------------------------------
            //-- To select client engagements
            //------------------------------------------
            if (inputName == 'CLIENT_ID') {
                tr.find('#ENGAGEMENT_ID').val('');
                tr.find('#ENGAGEMENT_ID > option').each(function () {
                    $(this).hide();
                    var optionType = $(this).attr('data-type');
                    if (optionType == CLIENT_ID) {
                        $(this).show();
                    }
                });
            };

            if (thisId == 'IS_CHARGEABLE') {

                //------------------------------------------
                //-- ReBind Service Dropdown
                //------------------------------------------
                $(thisParent).find('#SERVICE_LINE_ID option').attr('hidden', 'hidden');
                $(thisParent).find('#SERVICE_LINE_ID option').each(function () {
                    $(thisParent).find('#SERVICE_LINE_ID').val('');
                    var serviceLineTypeId = $(this).attr('data-type');
                    var serviceCat = $(this).attr('data-cat');
                    if (thisVal == serviceCat) {
                        $(this).removeAttr('hidden');
                    }
                });

                //-------------------------------------------------------------
                //-- Disable client and engagmenet dropdown if Non Chargeable
                //-------------------------------------------------------------
                if (thisValue == 'Chargeable') {
                    //$(thisParent).find('#CLIENT_ID,#ENGAGEMENT_ID').attr('required', 'required');
                    $(thisParent).find('#CLIENT_ID').find('option').removeAttr('hidden');
                } else {
                    $(thisParent).find('#CLIENT_ID,#ENGAGEMENT_ID').removeAttr('required');
                    $(thisParent).find('#CLIENT_ID,#ENGAGEMENT_ID').find('option').attr('hidden', 'hidden');
                    $(thisParent).find('#CLIENT_ID,#ENGAGEMENT_ID').val('');
                }

            };

        });
    };

    $('#frmTimeSheet').on('keyup keypress', function (e) {
        var keyCode = e.keyCode || e.which;
        if (keyCode === 13) {
            e.preventDefault();
            return false;
        }
    });

    $('#frmTimeSheet').submit(function (e) {
        e.preventDefault();

        var weekJobs = new Array();
        $("#tblTimeSheet tbody tr").each(function (i, v) {
            var tr = $(this);
            var isDelete = $(this).hasClass('bg-danger');
            var IS_CHARGEABLE = tr.find('#IS_CHARGEABLE').val();
            var weekJobId = tr.attr('data-id');
            if (IS_CHARGEABLE != '') {
                weekJobs.push({
                    "Id": @(currentWeekSheetInfo.Id == -1? "0" : "weekJobId"),
                    "Year": $('#YEAR_ID').val(),
                    "Month": $('#MONTH_ID').val(),
                    "Week": $('#WEEK_ID').val(),
                    "EmployeeId": $('#EMP_ID').val(),

                    "JobInWeekId": tr.find('#LINE_ID').val(),
                    "ChargeabilityId": tr.find('#IS_CHARGEABLE').val(),
                    "ServiceLineId": tr.find('#SERVICE_LINE_ID').val(),
                    //"ENGAGEMENT_ID": tr.find('#ENGAGEMENT_ID').val(),
                    "ClientId": tr.find('#CLIENT_ID').val(),
                    "Sun": tr.find('#SUN').val(),
                    "Mon": tr.find('#MON').val(),
                    "Tue": tr.find('#TUE').val(),
                    "Wed": tr.find('#WED').val(),
                    "Thu": tr.find('#THU').val(),
                    "Fri": tr.find('#FRI').val(),
                    "Sat": tr.find('#SAT').val(),
                    'IsSubmitted': $('#IS_SUBMITTED').val(),
                    "TotalJobWeekHours": tr.find('#TOTAL').val(),
                    "IsDeleted": isDelete
                });
            }
        });
        var xhrToken = $('input:hidden[name="__RequestVerificationToken"]').val();
        var params = {
            'Id': $('#REC_ID').val(),
            'Year': $('#YEAR_ID').val(),
            'Month': $('#MONTH_ID').val(),
            'Week': $('#WEEK_ID').val(),
            'EmployeeId': $('#EMP_ID').val(),
            'Description': $('#DESCRIPTION').val(),
            'SumSun': $('#SUM_SUN').val(),
            'SumMon': $('#SUM_MON').val(),
            'SumTue': $('#SUM_TUE').val(),
            'SumWed': $('#SUM_WED').val(),
            'SumThu': $('#SUM_THU').val(),
            'SumFri': $('#SUM_FRI').val(),
            'SumSat': $('#SUM_SAT').val(),
            'TotalWeekHours': $('#SUM_TOTAL').val(),
             WeeklyJobSummaries: weekJobs
        };
        console.log(params);
        if (isValidated() == 1) {
            swal.showLoading();
            $.ajax({
                url: "@Url.Content("~")/HR/Timesheets/Edit?handler=SaveTimesheet",
                async: true,
                type: 'POST',
                data: { weeksheetDto: params, '__RequestVerificationToken': xhrToken },
                success: function (data) {
                    swal.hideLoading();
                    if (data != null) {
                        swal.fire("Success", "Timesheet has been saved successfully.", "success");
                        loadHourSheet();
                    }
                },
                error: function (err) {
                    swal.fire("Failed", "Unable to update the Timesheet.", "error");
                }
            });
        }
    });


    function bindCalcFn() {

        setServiceLineValidation();

        $('#tblTimeSheet tbody').find('input,select').on('change', function () {

            var tr = $(this).parent().parent();


            var IS_CHARGEABLE = tr.find('#IS_CHARGEABLE').val();
            var SERVICE_LINE_ID = tr.find('#SERVICE_LINE_ID').val();
            var ENGAGEMENT_ID = tr.find('#ENGAGEMENT_ID').val();
            var CLIENT_ID = tr.find('#CLIENT_ID').val();

            var SUN = isNull(tr.find('#SUN').val());
            var MON = isNull(tr.find('#MON').val());
            var TUE = isNull(tr.find('#TUE').val());
            var WED = isNull(tr.find('#WED').val());
            var THU = isNull(tr.find('#THU').val());
            var FRI = isNull(tr.find('#FRI').val());
            var SAT = isNull(tr.find('#SAT').val());


            tr.find('#TOTAL').val(SUN + MON + TUE + WED + THU + FRI + SAT);
            var TOTAL = tr.find('#TOTAL').val();

            calculateTotal();

            tr.find('select,input').not('#CLIENT_ID,#ENGAGEMENT_ID').removeAttr('required');
            if (IS_CHARGEABLE !='') {
                tr.find('select,input').not('#CLIENT_ID,#ENGAGEMENT_ID').attr('required', 'required');


                tr.find('input').each(function () {
                    if ($(this).val() == '') {
                        $(this).val(0);
                    }
                });

            }

        });


    };
        function calculateTotal() {

            var SUM_SUN = 0;
            var SUM_MON = 0;
            var SUM_TUE = 0;
            var SUM_WED = 0;
            var SUM_THU = 0;
            var SUM_FRI = 0;
            var SUM_SAT = 0;
            var SUM_TOTAL = 0;

            $('#tblTimeSheet > tbody  > tr').not('.bg-danger').each(function () {
                var tr = $(this);
                var SUN = isNull(tr.find('#SUN').val());
                var MON = isNull(tr.find('#MON').val());
                var TUE = isNull(tr.find('#TUE').val());
                var WED = isNull(tr.find('#WED').val());
                var THU = isNull(tr.find('#THU').val());
                var FRI = isNull(tr.find('#FRI').val());
                var SAT = isNull(tr.find('#SAT').val());
                var TOTAL = isNull(tr.find('#TOTAL').val());

                SUM_SUN += SUN;
                SUM_MON += MON;
                SUM_TUE += TUE;
                SUM_WED += WED;
                SUM_THU += THU;
                SUM_FRI += FRI;
                SUM_SAT += SAT;
                SUM_TOTAL += TOTAL;
            });

            $('#SUM_SUN').val(SUM_SUN);
            $('#SUM_MON').val(SUM_MON);
            $('#SUM_TUE').val(SUM_TUE);
            $('#SUM_WED').val(SUM_WED);
            $('#SUM_THU').val(SUM_THU);
            $('#SUM_FRI').val(SUM_FRI);
            $('#SUM_SAT').val(SUM_SAT);
            $('#SUM_TOTAL').val(SUM_TOTAL);



        };
    function isNull(val) {
        if (parseFloat(val) > 0 || parseFloat(val) < 0) {
            return parseFloat(val);
        } else {
            return 0;
        }
    }


    $('#lnkSubmit').click(function () {
        var SUM_TOTAL = isNull($('#SUM_TOTAL').val());
        if (SUM_TOTAL > 0) {


            swal.fire('Submit Timesheet?', 'Are you sure you want to submit the timesheet?', 'warning', 'Yes, submit it!', 'Cancel').then(function (result) {
                if (result.value) {
                    $('#IS_SUBMITTED').val('true');
                    $('#frmTimeSheet').submit();
                }
            });
        }
    });

    function newRow(nosOfRows) {
        var table = $('#tblTimeSheet');
        var tr = table.find('tbody tr:first');
        var n = table.find('tbody tr').length;
        for (var i = 0; i < nosOfRows; i++) {
            var newTr = tr.clone();
            newTr.find('input,select').val('');
            newTr.find('#LINE_ID').val('0');
            newTr.find('#SRNO').val((n + i) + 1);
            table.find('tbody').append(newTr);
        }

        setFirstRowValidation();
        bindCalcFn();
    }

    $("#tblTimeSheet tbody tr td #delete").click(function () {
        var tr = $(this).parent().parent();


        var isDeleted = tr.hasClass('bg-danger');
        if (isDeleted) {
            tr.removeClass('bg-danger');
            tr.find('#delete i').removeClass('fa-undo').addClass('fa-times');
        }
        else {
            tr.addClass('bg-danger');
            tr.find('#delete i').removeClass('fa-times').addClass('fa-undo');
        }

        calculateTotal();

    });

</script>



<style>
    #tblTimeSheet thead th {
        text-align: center !important;
        font-size: 12px !important;
        vertical-align: bottom;
        white-space: nowrap;
        background-color: #efefef;
        color: #45547d;
        padding: 10px 0px;
    }

    #tblTimeSheet tbody td, #tblTimeSheet tfoot td {
        padding: 0px;
        width: 42px;
    }

        #tblTimeSheet tbody td .form-control {
            padding: 1px;
            border: 0px !important;
            margin: 0px;
            font-size: 13px;
            text-align: center;
            background-color: transparent;
        }

    #tblTimeSheet .trSum td .form-control {
        font-weight: bold;
        background-color: #efefef;
        border-radius: 0px !important;
    }
</style>
